{% extends 'cor_partials/base.html' %}
{% load static %}
{% block css%}
{% include 'cor_partials/css.html' %}
{% endblock %}
{% block extra_css %}
<link href="{%static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}" rel="stylesheet" type="text/css"/>
<style type="text/css">
    .datepicker.dropdown-menu {
        color: #000;
    }
    .datepicker table tr td.disabled{
        color: #b8b8b757;
    }
    .error{
        font-weight: 200;
    }
</style>
{% endblock %}

{% block contents %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Book appointments for your drivers</h4>
                                        <p class="card-title-desc"></p>
                                        <form method="post" action="{%url 'corporate_portal:booking' company.slug%}" data-slug="{{company.slug}}" id="book">
                                        {%csrf_token%}

                                        <div class="mb-3 row">
                                            {%for error in l_form.location.errors%}
                                            <label style="color: red;" class="error">{{error}}</label>
                                            {%endfor%}<br>

                                            <label class="col-md-2 col-form-label">Location</label>
                                            <div class="col-md-10">
                                                <select class="form-select" name="location" id="location">
                                                    <option>Select</option>
                                                    {%for choice in l_form.location.field.choices%}
                                                    <option value="{{choice.0}}">{{choice.1}}</option>
                                                    {%endfor%}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title mb-4">Drivers</h4>
                                                        <div id="repeater">
                                                            {{d_form.management_form}}
                                                            {%for error in d_form.non_form_errors%}
                                                            <label style="color: red; font-size: smaller;" class="error">{{error}}</label>
                                                            {%endfor%}<br>
                                                <div data-repeater-list id="form">
                                                            {%for i,f in annoying%}
                
                                                                <div data-repeater-item class="bookrow row" >
                                                                    <div  class="mb-3 col-lg-2">
                                                                        {%for error in f.driver.errors%}
                                                                        <label style="color: red; font-size: smaller;" class="error">{{error}}</label>
                                                                        {%endfor%}<br>
                                                                        <label for="name">Driver</label>
                                                                        <select class="form-select" name="form-{{i}}-driver">
                                                                            <option>Select</option>
                                                                            {%for choice in d_query%}
                                                                            <option value="{{choice.pk}}">{{choice.get_name}}</option>
                                                                            {%endfor%}
                                                                        </select>
                                                                    </div>
                        
                                                                    <div  class="mb-3 col-lg-2">
                                                                        {%for error in f.product.errors%}
                                                                        <label style="color: red; font-size: smaller;" class="error">{{error}}</label>
                                                                        {%endfor%}<br>
                                                                        <label for="name">Product</label>
                                                                        <select class="form-select" name="form-{{i}}-product">
                                                                            <option>Select</option>
                                                                            {%for choice in f.product.field.choices%}
                                                                            <option value="{{choice.0}}">{{choice.1}}</option>
                                                                            {%endfor%}
                                                                        </select>
                                                                    </div>

                                                                    <div  class="mb-3 col-lg-2">
                                                                        {%for error in f.date.errors%}
                                                                        <label style="color: red; font-size: smaller;" class="error">{{error}}</label>
                                                                        {%endfor%}<br>
                                                                                        <label for="name">Date</label>
                                                                        <input type="text" class="form-control date"  name="form-{{i}}-date" id="form-{{i}}-date"  readonly>
                                                                    </div>
                                                                    
                                                                    <div  class="mb-3 col-lg-2">

                                                                        {%for error in f.time_slot.errors%}
                                                                        <label style="color: red; font-size: smaller;" class="error">{{error}}</label>
                                                                        {%endfor%}<br>
                                                                        <label for="time">Time</label>
                                                                        <select class="form-select time" name="form-{{i}}-time_slot" id="form-{{i}}-time">
                                                                        </select>
                                                                    </div>
                        
                
                                                                    <div class="col-lg-2 align-self-center">
                                                                        <div class="d-grid">
                                                                            <input data-repeater-delete type="button" class="btn btn-primary" id="{{i}}" value="Delete" onclick="delete_form(this)"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {%endfor%}
                                                            <input data-repeater-create type="button" class="btn btn-success mt-3 mt-lg-0" value="Add" id="add"/>
                                                                
                                                            </div>
                                                            
                                                    </div>
                                                    
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                                        <div class="d-flex flex-wrap gap-2">
                                            <button type="submit"  class="btn btn-primary waves-effect waves-light">Save Changes</button>
                                            <input type="reset" class="btn btn-secondary waves-effect waves-light" value="Cancel">
                                        </div>
                                    </form>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

{% endblock %}
{% block extra_javascript %}
        <!-- Plugins js -->
        <script src="{%static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>


<script type="text/javascript">


    function filter_date(num){
        $.ajax({
            type:'GET',
            url: 'appointment/ajax/filter-dates',
            data:{
                'clinic' : $("#location").val(),

            },
            dataType:'json',

            success:function(response){

                jQuery(function(){
                // function change(data){enableDays=data}
                
                $(`#form-${num}-date`).datepicker('destroy');
                var datesEnabled = response.dates;
                console.log(datesEnabled);
    
                $(`#form-${num}-date`).datepicker({
                  format:'mm/dd/yyyy',    beforeShowDay: function (date) {
                var allDates = `${date.getDate()}`.padStart(2, 0) + '-' + `${date.getMonth() + 1}`.padStart(2,0)+ '-' + date.getFullYear();console.log(allDates)
                if(datesEnabled.indexOf(allDates) != -1)
                return true;
                else
                return false;
                }
                });          
            })
            }
        })
    }

     function filter_time(num){
            $.ajax({
                type:'GET',
                url:'appointment/ajax/filter-times',
                data:{
                    'clinic':$('#location').val(),
                    'date':$(`input[name="form-${num}-date"]`).val(),
                },
                dataType:'json',
                success:function(response){
                    var select = document.getElementById(`form-${num}-time`);
                    select.innerHTML = null;
                    for (var i=0;i<response.times.length;i++){
                        var option = document.createElement('option');
                        option.value = response.times[i]['id'];
                        option.innerHTML = response.times[i]['time'];
                        select.appendChild(option)
                    }
                }
        })
     }
                    

        $(document).on('click','#add', function(){

        var total = document.getElementById('id_form-TOTAL_FORMS')

        var form = document.querySelectorAll('.bookrow');
        var container = document.getElementById('form');
        var before = document.getElementById('add');
        var formnum = form.length-1
        var newform = form[0].cloneNode(true)
        var select = newform.childNodes[7].childNodes[5].options
        while (select.length > 0){select.remove(0);}

        console.log(select)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')
        formnum++
        newform.innerHTML = newform.innerHTML.replace(formRegex, `form-${formnum}-`);

        container.insertBefore(newform,before);


        total.setAttribute('value', `${formnum+1}`);
        filter_date(formnum);

        $(`input[name="form-${formnum}-date"]`).on("change", function(){filter_time(formnum);})
        })


        function delete_form(e){
        console.log('k')
        var total = document.getElementById('id_form-TOTAL_FORMS');
        if (window.confirm('Are you sure you want to delete?')){
        m=e.parentNode.parentNode.parentNode
        m.remove()
        total.setAttribute('value', `${formnum-1}`)
        }
        }

        document.getElementById('location').addEventListener("change", function (){
                $('#repeater').load(window.location.href +" #repeater", function(){
                    filter_date(0);
                    $('input[name="form-0-date"]').on("change", function(){filter_time(0);})
                });
                })

        </script>

{% endblock %}