{% extends 'cor_partials/base.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

assets
{% block contents %}
                        <div class="checkout-tabs">
                                <div class="row">
                                    <div class="col-xl-2 col-sm-3 mb-3">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link active" id="v-pills-confir-tab" data-bs-toggle="pill" href="#v-pills-confir" role="tab" aria-controls="v-pills-confir" aria-selected="true">
                                                <i class= "bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                                                <p class="fw-bold mb-4">Confirmation</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-10 col-sm-9">
                                        <form method="post" action="{%url 'corporate_portal:checkout' company.slug%}">
                                            {%csrf_token%}
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="tab-content" id="v-pills-tabContent">
                                                    <div class="tab-pane fade show active" id="v-pills-confir" role="tabpanel" aria-labelledby="v-pills-confir-tab">
                                                        <div class="card shadow-none border mb-0">
                                                            <div class="card-body">
                                                                <h4 class="card-title mb-4">Order Summary</h4>
    
                                                                <div class="table-responsive">
                                                                    <table class="table align-middle mb-0 table-nowrap">
                                                                        <thead class="table-light">
                                                                        <tr>
                                                                            <th scope="col">Name</th>
                                                                            <th scope="col">Appointment</th>
                                                                            <th scope="col">Price</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {%for app in appointments%}
                                                                            <tr>
                                                                                <th scope="row">{{app.client}} </th>
                                                                                <td>
                                                                                    <h5 class="font-size-14 text-truncate">{{app.get_date}}, {{app.get_start_time}}-{{app.get_end_time}}</h5>
                                                                                    <p class="text-muted mb-0">{{app.get_product}}</p>
                                                                                </td>
                                                                                <td>${{app.product.price}}</td>
                                                                            </tr>
                                                                            {%endfor%}
                                                                            <tr>
                                                                                <td colspan="3">
                                                                                    <div class="">
                                                                                        <p id="message" style="color: #015668;"></p>
                                                                                    </div>
                                                                                    <div class="input-group mt-3">
                                                                                        <input type="text" class="form-control" id="code" placeholder="Coupon">
                                                                                        <button class="btn btn-success" id="redeem" type="button" style="background-color: #015668; border-color: #015668;">Redeem</button>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2">
                                                                                    <h6 class="m-0 text-end">Total:</h6>
                                                                                </td>
                                                                                <td>
                                                                                    <span id="price_container">${{basket.get_price}}</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-sm-6">
                                                <a href="{% url 'corporate_portal:cart-del' company.slug %}" class="btn btn-secondary text-muted d-none d-sm-inline-block btn-link">
                                                    <i class="mdi mdi-arrow-left me-1"></i>Clear Cart </a>
                                            </div> <!-- end col -->
                                            <div class="col-sm-6">
                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-success" style="background-color: #015668; border-color: #015668;">
                                                        <i class="mdi mdi-truck-fast me-1"></i> Proceed to Payment</button>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

{% endblock %}


{% block extra_javascript %}
<script>
    var redeem_btn = document.getElementById('redeem');
    var code = document.getElementById('code');
    redeem_btn.addEventListener('click', function(){
        $.ajax({
            type:'GET',
            url:'appointment/ajax/redeem',
            data:{
                'coupon_code':code.value
            },
            dataType:'json',
            success:function(response){
                jQuery(function(){
                    var message = response.message;
                    var container = document.getElementById('message');
                    container.innerHTML = message
                    if (response.valid==true) {
                        var price_container = document.getElementById('price_container');
                        price_container.innerHTML = '£' + response.new_price;
                    if(response.message=='Used!') {
                        redeem_btn.disabled = true;

                    }
                    }
                })
            }

        })
    })
</script>
    
{% endblock %}