{% extends 'cor_partials/base.html' %}
{% load static %}

{% block css%}
{% include 'cor_partials/css.html' %}
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block contents %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Add a Driver</h4>
                                        <form class="repeater" enctype="multipart/form-data" action="{%url 'corporate_portal:add-driver' company.slug%}" method="post" id="repeater">
                                            {%csrf_token%}
                                            {{formset.management_form}}
                                            <div data-repeater-list class="form">
                                            {%for i,f in annoying%}

                                                <div data-repeater-item class="row">
                                                    <div  class="mb-3 col-lg-2">
                                                        <label for="name">First Name</label>
                                                        <input type="text" id="name"  class="form-control" placeholder="Enter First Name" name="form-{{i}}-first_name"/>
                                                    </div>
        
                                                    <div  class="mb-3 col-lg-2">
                                                        <label for="email">Last Name</label>
                                                        <input type="text"  class="form-control" placeholder="Enter Last Name" name="form-{{i}}-last_name"/>
                                                    </div>
        
                                                    <div  class="mb-3 col-lg-2">
                                                        <label for="subject">Subject</label>
                                                        <input type="email" id="email" class="form-control" placeholder="Enter Email" name="form-{{i}}-email"/>
                                                    </div>
        
                                                    <div class="mb-3 col-lg-2">
                                                        <label for="resume">Phone</label>
                                                        <input type="tel" class="form-control"  name="form-{{i}}-phone">
                                                    </div>
        
                                                    <div class="mb-3 col-lg-2">
                                                        <label for="resume">Company</label>
                                                        <input type="text" class="form-control"  name="cor_comp" value="{{company.get_name}}" readonly>
                                                    </div>

                                                    <div class="col-lg-2 mb-3">

                                                        <label for="resume">Delete? </label>
                                                            <input data-repeater-delete type="button" class="btn btn-primary d-grid" id="{{i}}" style="background-color: #02A9CD; border-color: #02a9cd;" value="Delete" onclick="delete_form(this)"/>
                                              </div>
                                                </div>
                                                {%endfor%}
                                                
                                            </div>
                                            <input data-repeater-create type="button" class="btn btn-success mt-3 mt-lg-0" value="Add" id="add" style="background-color: #015668; border-color: #015668;"/>
                                            <input  type="submit" class="btn btn-success mt-3 mt-lg-0" style="background-color: #015668; border-color: #015668;" value="Submit"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        {% endblock %}

                        {% block extra_javascript %}

                                <script>
                                    var form = document.querySelectorAll('.form');
                                    var container = document.getElementById('repeater');
                                    var add_btn = document.getElementById('add');
                                    var total = document.getElementById('id_form-TOTAL_FORMS')
                                    var formnum = form.length-1
                                    document.getElementById('add').addEventListener('click', function(){
                                        console.log('hi')
                                    var newform = form[0].cloneNode(true)
                                    let formRegex = RegExp(`form-(\\d){1}-`,'g')
                                    formnum++
                                    newform.innerHTML = newform.innerHTML.replace(formRegex, `form-${formnum}-`)
                                    container.insertBefore(newform,add_btn);
                                    console.log(newform)

                                    total.setAttribute('value', `${formnum+1}`)
                                    })
                                    function delete_form(e){
                                        console.log('k')
                                        if (window.confirm('Are you sure you want to delete?')){
                                        m=e.parentNode.parentNode.parentNode
                                        m.remove()
                                        total.setAttribute('value', `${formnum-1}`)
                                        }
                                    }

                                </script>
                        
                        {% endblock %}