{% extends 'partials-actual/base.html' %}
{% load static %}

{% block contents %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-sm-4">
                                                <div class="search-box me-2 mb-2 d-inline-block">
                                                    <div class="position-relative">
                                                        <input type="text" class="cd-search table-filter form-control" data-table="cd-table"  placeholder="Search...">
                                                        <i class="bx bx-search-alt search-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="text-sm-end">
                                                    <a href="{%url 'portal:clinic-registration'%}"><button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="mdi mdi-plus me-1"></i> Add New Clinic</button></a>
                                                </div>
                                            </div><!-- end col-->
                                        </div>
                
                                        <div class="table-responsive"  id="tl">
                                            <table class="table align-middle table-nowrap table-check cd-table">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th style="width: 20px;" class="align-middle">
                                                            <div class="form-check font-size-16">
                                                                <input class="form-check-input" type="checkbox" id="checkAll">
                                                                <label class="form-check-label" for="checkAll"></label>
                                                            </div>
                                                        </th>
                                                        <th class="align-middle">Clinic ID</th>
                                                        <th class="align-middle">Clinic Name</th>
                                                        <th class="align-middle">Clinic Address</th>
                                                        <th class="align-middle">Postal Code</th>
                                                        <th class="align-middle">City</th>
                                                        <th class="align-middle">Available to work</th>
                                                        <th class="align-middle">View details</th>
                                                        <th class="align-middle">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                        {%for clinic in page_obj%}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check font-size-16">
                                                                <input class="form-check-input" type="checkbox" id="orderidcheck01">
                                                                <label class="form-check-label" for="orderidcheck01"></label>
                                                            </div>
                                                        </td>
                                                        <td><a href="javascript: void(0);" class="text-body fw-bold">#{{clinic.id}}</a> </td>
                                                        <td>{{clinic.name}}</td>
                                                        <td>{{clinic.address}}</td>
                                                        <td>{{clinic.postal_code}}</td>
                                                        <td>
                                                            {{clinic.city}}
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-pill badge-soft-success font-size-12">{{clinic.avail_to_work}}</span>
                                                        </td>
                                                        <td>
                                                            <!-- Button trigger modal -->
                                                            <a href="{%url 'portal:clinic-detail' clinic.slug%}" >
                                                            <button type="button" class="btn btn-primary btn-sm btn-rounded" data-bs-toggle="modal" >
                                                                 View Details
                                                            </button>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex gap-3">
                                                                <a href="{%url 'portal:clinic-edit' clinic.slug%}" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                                <a href="javascript:void(0);" class="text-danger" id="delete" data-slug="{{clinic.slug}}"><i class="mdi mdi-delete font-size-18"></i></a>
                                                            </div>
                                                        </td>


                                        
                                                        {%endfor%}
                                                    </tr>

                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <ul class="pagination pagination-rounded justify-content-end mb-2" >
                                            {%if page_obj.has_previous%}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </a>
                                            </li>
                                                {%else%}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </a>
                                            </li>
                                            {%endif%}
                                            <li class="page-item active"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
                                            {%if page_obj.has_next%}
                                            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">...</a></li>
                                            {%endif%}
                                            {%if page_obj.has_next%}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </a>
                                            </li>
                                            {%else%}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript: void(0);" >
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </a>
                                            </li>
                                            {%endif%}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                <!-- Modal -->
                <!-- end modal -->
                
{% endblock %}
{%block extra_javascript%}
<script>
(function() {
	'use strict';

var TableFilter = (function() {
 var Arr = Array.prototype;
		var input;
  
		function onInputEvent(e) {
			input = e.target;
			var table1 = document.getElementsByClassName(input.getAttribute('data-table'));
			Arr.forEach.call(table1, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, filter);
				});
			});
		}

		function filter(row) {
			var text = row.textContent.toLowerCase();
       console.log(text);
      var val = input.value.toLowerCase();
      console.log(val);
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = onInputEvent;
				});
			}
		};
 
	})();

  /*console.log(document.readyState);
	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
      console.log(document.readyState);
			TableFilter.init();
		}
	}); */
  
 TableFilter.init(); 
})();

document.getElementById('delete').addEventListener('click', function(){
    var txt;
    var el = document.getElementById('delete');
    if (confirm('Delete')){
        txt = 'yes'
        $.ajax({
        type:'GET',
        url: el.getAttribute('data-slug') + '/delete',
        dataType:'json',

        success:function(response){
            console.log('deleted');
            if (response.reply=='success'){
                alert('It has been successfully deleted')
                document.location.reload(true);
            
            }

                else{
                    alert('Not successfully deleted')
                }

        }
    
    })
    }
    else{
        txt='cancel';
    }
})
</script>
{%endblock%}