{% extends 'partials-actual/base.html' %}
{% load static %}

{% block contents %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="product-detai-imgs">
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-3 col-4">
                                                            <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                                <a class="nav-link" id="product-4-tab" data-bs-toggle="pill" href="#product-4" role="tab" aria-controls="product-4" aria-selected="false">
                                                                    <img src="{% static 'images/product/img-8.png' %}" alt="" class="img-fluid mx-auto d-block rounded">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 offset-md-1 col-sm-9 col-8">
                                                            <div class="tab-content" id="v-pills-tabContent">
                                                                <div class="tab-pane fade" id="product-4" role="tabpanel" aria-labelledby="product-4-tab">
                                                                    <div>
                                                                        <img src="{% static 'images/product/img-8.png' %}" alt="" class="img-fluid mx-auto d-block">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="col-xl-6">
                                                <div class="mt-4 mt-xl-3">
                                                    <a href="javascript: void(0);" class="text-primary">{{doctor}}</a>
                                                    <h4 class="mt-1 mb-3">{{doctor}}</h4>
    
                                                    <p class="text-muted float-start me-3">
                                                        <span class="bx bxs-star text-warning"></span>
                                                        <span class="bx bxs-star text-warning"></span>
                                                        <span class="bx bxs-star text-warning"></span>
                                                        <span class="bx bxs-star text-warning"></span>
                                                        <span class="bx bxs-star"></span>
                                                    </p>
    
                                                    <!-- <h5 class="mb-4">Price : <span class="text-muted me-2"></span> <b>{{product.price}} EUROS</b></h5>
                                                    <p class="text-muted mb-4">To achieve this, it would be necessary to have uniform grammar pronunciation and more common words If several languages coalesce</p> -->
    
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row -->
    
                                        <div class="mt-5">
                                            <h5 class="mb-3">Specifications :</h5>
    
                                            <div class="table-responsive">
                                                <table class="table mb-0 table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" style="width: 400px;">Name of Doctor</th>
                                                            <td>{{doctor}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Email</th>
                                                            <td>{{doctor.user.email}}</td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <th scope="row">Joined At</th>
                                                            <td>{{doctor.user.created_at}}</td>
                                                        </tr> -->
                                                        <tr>
                                                            <th scope="row">Username</th>
                                                            <td>{{doctor.user.username}}</td>
                                                        </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end Specifications -->
    
    
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Amount made</h4>
                                        <div id="line-chart" class="e-charts"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Successful appointments</h4>
                                        <div id="mix-line-bar" class="e-charts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!-- end row -->
{% endblock %}
{% block extra_javascript %}
        <!-- echarts js -->
        <script src="{% static 'libs/echarts/dist/echarts.min.js' %}"></script>
        <!-- echarts init -->
        <script src="{% static 'js/pages/echarts.init.js' %}"></script>
        
{% endblock %}