{% extends 'partials-actual/base.html' %}
{% load static %}

{% block contents %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-sm-4">
                                                <div class="search-box me-2 mb-2 d-inline-block">
                                                    <div class="position-relative">
                                                        <input type="text" class="cd-search table-filter form-control" data-table="cd-table"  placeholder="Search...">
                                                        <i class="bx bx-search-alt search-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="text-sm-end">
                                                    <a href="{%url 'portal:doc-sche-reg'%}"><button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="mdi mdi-plus me-1"></i> Add New Schedule</button></a>
                                                </div>
                                            </div><!-- end col-->
                                        </div>
                
                                        <div class="table-responsive" id="tl">
                                            <table class="table align-middle table-nowrap table-check cd-table">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th style="width: 20px;" class="align-middle">
                                                            <div class="form-check font-size-16">
                                                                <input class="form-check-input" type="checkbox" id="checkAll">
                                                                <label class="form-check-label" for="checkAll"></label>
                                                            </div>
                                                        </th>
                                                        <th class="align-middle">Schedule ID</th>
                                                        <th class="align-middle">Location</th>
                                                        <th class="align-middle">Doctor</th>
                                                        <th class="align-middle">Date</th>
                                                        <th class="align-middle">Day of the week</th>
                                                        <th class="align-middle">Start Time</th>
                                                        <th class="align-middle">End Time</th>
                                                        <th class="align-middle">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                        {%for sche in page_obj%}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check font-size-16">
                                                                <input class="form-check-input" type="checkbox" id="orderidcheck01">
                                                                <label class="form-check-label" for="orderidcheck01"></label>
                                                            </div>
                                                        </td>
                                                        <td><a href="javascript: void(0);" class="text-body fw-bold">#{{sche.id}}</a> </td>
                                                        <td>{{sche.clinic.city}}</td>
                                                        <td>
                                                            {{sche.get_doctor}}
                                                        </td>
                                                        <td>
                                                            {{sche.get_date}}
                                                        </td>

                                                        <td>
                                                            {{sche.get_day_of_week}}
                                                        </td>

                                                        <td>
                                                            {{sche.get_start_time}}
                                                        </td>

                                                        <td>
                                                            {{sche.get_end_time}}
                                                        </td>
                                                        <td>
                                                            <div class="d-flex gap-3">
                                                                <a href="{%url 'portal:doc-sche-edit' sche.slug%}" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                                <a href="javascript:void(0);"  class="text-danger deld" data-slug="{{sche.slug}}"><i class="mdi mdi-delete font-size-18" data-slug="{{sche.slug}}"></i></a>
                                                            </div>
                                                        </td>
                                                        {%endfor%}
                                                    </tr>

                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <ul class="pagination pagination-rounded justify-content-end mb-2" >
                                            {%if page_obj.has_previous%}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </a>
                                            </li>
                                                {%else%}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                                    <i class="mdi mdi-chevron-left"></i>
                                                </a>
                                            </li>
                                            {%endif%}
                                            <li class="page-item active"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
                                            {%if page_obj.has_next%}
                                            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript: void(0);">...</a></li>
                                            {%endif%}
                                            {%if page_obj.has_next%}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </a>
                                            </li>
                                            {%else%}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript: void(0);" >
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </a>
                                            </li>
                                            {%endif%}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                <!-- Modal -->
                <div class="modal fade orderdetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderdetailsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="orderdetailsModalLabel">Order Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end modal -->
                
{% endblock %}
{%block extra_javascript%}
<script>
(function() {
	'use strict';

var TableFilter = (function() {
 var Arr = Array.prototype;
		var input;
  
		function onInputEvent(e) {
			input = e.target;
			var table1 = document.getElementsByClassName(input.getAttribute('data-table'));
			Arr.forEach.call(table1, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, filter);
				});
			});
		}

		function filter(row) {
			var text = row.textContent.toLowerCase();
       console.log(text);
      var val = input.value.toLowerCase();
      console.log(val);
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = onInputEvent;
				});
			}
		};
 
	})();

  /*console.log(document.readyState);
	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
      console.log(document.readyState);
			TableFilter.init();
		}
	}); */
  
 TableFilter.init(); 
})();

$('.deld').on('click', function(e){
    var txt;
    var el = e.target;
    if (confirm('Delete')){
        txt = 'yes'
        $.ajax({
        type:'GET',
        url: 'schedule/' +el.getAttribute('data-slug') + '-delete',
        dataType:'json',

        success:function(response){
            console.log('deleted');
            if (response.reply=='success'){
                alert('It has been successfully deleted')
                document.location.reload(true);
            
            }

                else{
                    alert('Not successfully deleted')
                }

        }
    
    })
    }
    else{
        txt='cancel';
    }
})
</script>
{%endblock%}