{% extends 'partials-actual/base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{%static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}" rel="stylesheet" type="text/css"/>
<link href="{%static 'libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css'%}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block contents %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Doctor Schedule Edit form</h4>
                                        <p class="card-title-desc">This is the doctor schedule form for {{clinic.name}} clinic</p>
                                        <form method="post" action="{%url 'portal:doc-sche-edit' schedule.slug%}">
                                        {%csrf_token%}

                                        <div class="mb-3 row">
                                            {%for error in form.doctor.errors%}
                                            <label style="color: red;">{{error}}</label>
                                            {%endfor%}<br>

                                            <label class="col-md-2 col-form-label">Doctor</label>
                                            <div class="col-md-10">
                                                <select class="form-select" name="doctor">
                                                    <option value="{{schedule.doctor.id}}" selected>{{schedule.doctor}}</option>
                                                    {%for choice in form.doctor.field.choices%}
                                                    <option value="{{choice.0}}">{{choice.1}}</option>
                                                    {%endfor%}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            {%for error in form.clinic.errors%}
                                            <label style="color: red;" >{{error}}</label>
                                            {%endfor%}<br>

                                            <label class="col-md-2 col-form-label">Clinic</label>
                                            <div class="col-md-10">
                                                <select class="form-select" name="clinic">
                                                    <option value="{{schedule.clinic.id}}" selected>{{schedule.clinic}}</option>
                                                    {%for choice in form.clinic.field.choices%}
                                                    <option value="{{choice.0}}">{{choice.1}}</option>
                                                    {%endfor%}
                                                </select>
                                            </div>
                                        </div>


                                        <div class="mb-3 row">
                                            {%for error in form.date.errors%}
                                            <label style="color: red;">{{error}}</label>
                                            {%endfor%}<br>

                                            <label for="example-datetime-local-input" class="col-md-2 col-form-label">Date Time</label>
                                            <div class="col-md-10">
                                                <input class="form-control" name="date" type="text" placeholder="07/10/02"
                                                    id="example-date" value="{{schedule.get_date}}">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            {%for error in form.start_time.errors%}
                                            <label style="color: red;">{{error}}</label>
                                            {%endfor%}<br>

                                            <label for="example-date-input" class="col-md-2 col-form-label">Start Time</label>
                                            <div class="col-md-10">
                                                <input class="form-control" name="start_time" type="time" 
                                                    id="example-time1" value="{{schedule.get_start_time}}">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            {%for error in form.end_time.errors%}
                                            <label style="color: red;">{{error}}</label>
                                            {%endfor%}<br>

                                            <label for="example-datetime-local-input" class="col-md-2 col-form-label">End Time</label>
                                            <div class="col-md-10">
                                                <input class="form-control" name="end_time" type="time" 
                                                    id="example-time" value="{{schedule.get_end_time}}">
                                            </div>
                                        </div>
                                        <div class="d-flex flex-wrap gap-2">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light" style="background-color:#015668; border-color: #015668;">Save Changes</button>
                                            <input type="reset" class="btn btn-secondary waves-effect waves-light" value="Cancel">
                                        </div>
                                    </form>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
        
                                        <h4 class="card-title">Dropzone</h4>
                                        <p class="card-title-desc">DropzoneJS is an open source library
                                            that provides drag’n’drop file uploads with image previews.
                                        </p>
        
                                        <div>
                                            <form action="#" class="dropzone">
                                                <div class="fallback">
                                                    <input name="file" type="file" multiple="multiple">
                                                </div>
                                                <div class="dz-message needsclick">
                                                    <div class="mb-3">
                                                        <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                                    </div>
                                                    
                                                    <h4>Drop files here or click to upload.</h4>
                                                </div>
                                            </form>
                                        </div>
        
                                        <div class="text-center mt-4">
                                            <button type="button" class="btn btn-primary waves-effect waves-light">Send Files</button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <!-- end row -->
                        <!-- end row -->
{% endblock %}
{% block extra_javascript %}
        <!-- Plugins js -->
        <script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>
        <script src="{%static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>
        <script src="{%static 'libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js'%}"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#example-date").datepicker({
                    orientation: "bottom"
                });
            })
        </script>

{% endblock %}