.login_bg {
    background-color: rgba(2,169,205,0.25)!important;
}
.login_btn{
    color: #fff;
    background-color: #02A9CD; 
    border-color: #02A9CD;
}
.dash_text{
    color:#D5F3FF;
}
.side_color{
    background:#015668;
}