{% extends 'partials-actual/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- select2 css -->
    <link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/testing.css' %}" rel="stylesheet" type="text/css" />


    <!-- dropzone css -->
    <link href="{% static 'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}

            <form method="post" action="{%url 'portal:intrnt-cli-edit' client.slug%}">
                    {%csrf_token%}

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
        
                                        <h4 class="card-title">Basic Information</h4>
                                        <p class="card-title-desc">Fill all information below</p>
        
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="mb-3">
                                                        {%for error in form.first_name.errors%}
                                                        <label style="color: red;">{{error}}</label>
                                                        {%endfor%}<br>
                                                        <label for="productname">First Name</label>
                                                        <input id="productname" name="first_name" type="text" value="{{client.first_name}}" class="form-control" placeholder="Enter First Name">
                                                    </div>
                                                    <div class="mb-3">
                                                        {%for error in form.last_name.errors%}
                                                        <label style="color: red;">{{error}}</label>
                                                        {%endfor%}<br>

                                                        <label for="productname">Last Name</label>
                                                        <input name="last_name" value="{{client.last_name}}" type="text" class="form-control" >
                                                    </div>
                                                    <div class="mb-3">
                                                        {%for error in form.title.errors%}
                                                        <label style="color: red;">{{error}}</label>
                                                        {%endfor%}<br>
                                                        <label class="control-label">Title</label><br>
                                                        <select class="form-control select2" name="title">
                                                            <option value="{{client.title}}" selected>{{client.title}}</option>
                                                            
                                                            {%for choice in form.title.field.choices%}
                                                            <option value="{{choice.0}}">{{choice.1}}</option><p>{{choice}}</p>
                                                            {%endfor%}
                                                        </select>
                                                    </div>

                                                    <div class="mb-3">
                                                        {%for error in form.gender.errors%}
                                                        <label style="color: red;">{{error}}</label>
                                                        {%endfor%}<br>
                                                        <label class="control-label">Gender</label><br>
                                                        <select class="form-control select2" name="gender">
                                                            <option value="{{client.gender}}" selected>{{client.gender}}</option>
                                                            
                                                            {%for choice in form.gender.field.choices%}
                                                            <option value="{{choice.0}}">{{choice.1}}</option>
                                                            {%endfor%}
                                                        </select>
                                                    </div>

                                                    <div class="mb-3">
                                                        {%for error in form.email.errors%}
                                                        <label style="color: red;">{{error}}</label>
                                                        {%endfor%}<br>

                                                        <label for="productname">Email</label>
                                                        <input name="email" type="email" class="form-control" value="{{client.email}}" >
                                                    </div>
                                                    <div class="mb-3">
                                                        {%for error in form.phone.errors%}
                                                        <label style="color: red;">{{error}}</label>
                                                        {%endfor%}<br>

                                                        <label for="productname">Phone Number</label>
                                                        <input name="phone" type="text" class="form-control" value="{{client.phone}}">
                                                    </div>

                                                </div>
        
                                                <div class="col-sm-6">
                                                    <div class="mb-3 row">
                                                        {%for error in form.dob.errors%}
                                                        <label style="color: red;">{{error}}</label>
                                                        {%endfor%}<br>
                                                        <label for="productname" class=" col-form-label">Date of Birth</label><br>
                                                            <input class="form-control" type="date" value="{{client.dob}}" name="dob"
                                                                id="example-date-input">
                                                    </div>
            
                                                    <div class="mb-3">
                                                        {%for error in form.address.errors%}
                                                        <label style="color: red;">{{error}}</label>
                                                        {%endfor%}<br>

                                                        <label for="manufacturerbrand">Address</label>
                                                        <div class="autocomplete-container" id="autocomplete-container"></div>
                                                    </div>

                                                    
                                                </div>
                                            </div>
        
        
                                    </div>
                                </div>

        
                            </div>
                        </div>










                        <div class="d-flex flex-wrap gap-2">
                            <button type="submit" class="btn btn-primary waves-effect waves-light" style="background-color:#015668; border-color: #015668;">Save Changes</button>
                            <input type="reset" class="btn btn-secondary waves-effect waves-light" value="Cancel">
                        </div>
        </form>
                        <!-- end row -->
{% endblock %}

{% block extra_javascript %}
    <!-- select 2 plugin -->
    <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>

    <!-- dropzone plugin -->
    <script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'js/pages/ecommerce-select2.init.js' %}"></script>
    <!--location js-->
    <script src="{% static 'js/testing.js' %}"></script>
    <script>
        addressAutocomplete(document.getElementById("autocomplete-container"), (data) => {
        }, {
          // placeholder: "Enter an address here",
          value:'{{client.address}}',
        });
              
          </script>
      

{% endblock %}


