  {%extends 'display/base.html'%}
  {%load static%}
{% block extra_css %}
    
    
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    
      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
    
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
    
        /* GLOBAL STYLES
        --------------------------------------------- */
        /* Padding below the footer and lighter body text */
    
        body {
          padding-top: 3rem;
          
          color: #5a5a5a;
        }
    
    header{
        height: 50%;
        background-color: #5a5a5a;
        
    }
        /* CUSTOMIZE THE CAROUSEL
        -------------------------------------------- */
    
        /* Carousel base class */
        .carousel {
          margin-bottom: 4rem;
        }
    
        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
          bottom: 3rem;
          z-index: 10;
        }
    
        /* Declare heights because of positioning of img element */
        .carousel-item {
          height: 32rem;
        }
    
        .carousel-item>img {
          position: absolute;
          top: 0;
          left: 0;
          min-width: 100%;
          height: 32rem;
        }
    
    
        /* MARKETING CONTENT
    -------------------------------------------------- */
    
        /* Center align the text within the three columns below the carousel */
        .marketing .col-lg-4 {
          margin-bottom: 1.5rem;
          text-align: center;
        }
    
        .marketing h2 {
          font-weight: 400;
        }
    
        .marketing .col-lg-4 p {
          margin-right: .75rem;
          margin-left: .75rem;
        }
    
    
        /* Featurettes
    ------------------------- */
    
        .featurette-divider {
          margin: 5rem 0;
          /* Space out the Bootstrap <hr> more */
        }
    
        /* Thin out the marketing headings */
        .featurette-heading {
          font-weight: 300;
          line-height: 1;
          letter-spacing: -.05rem;
        }
    
    
        /* RESPONSIVE CSS
    -------------------------------------------------- */
    
        @media (min-width: 40em) {
    
          /* Bump up size of carousel content */
          .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
          }
    
          .featurette-heading {
            font-size: 50px;
          }
        }
    
        @media (min-width: 62em) {
          .featurette-heading {
            margin-top: 7rem;
          }
        }
      </style>

{%endblock%}
{%block content%}
                        

                        
                          
                        <section class="py-5 text-center container-fluid" style="margin-top: 3rem; background-image: url(./hands-with-laptop-virtual-world-map\ \(1\).jpg); background-size: cover;">
                            <div class="row py-lg-5">
                              <div class="col-lg-6 col-md-8 mx-auto">
                                <h1 class="" style="font-weight:700 ; color: #0ac5a8;">About Us</h1>
                              <div style="display: flex; margin-left: 14rem;">
                                <p class="lead text-muted" style="margin-right: 1rem;"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                                   <span style="color: black;">Home</span></p>
                                  <p class="lead text-muted"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-record-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-8 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                  </svg> <span style="color: black;">Pages</span></p>
                              </div>   
                                <p>   
                                  <a href="#" class="btn my-2" style="background-color: #0ac5a8; color:#fff; width: 11rem; height: 3rem; ">Book Now</a>
                                  <a href="#" class="btn my-2" style="background-color: #0ac5a8; color:#fff; width: 11rem; height: 3rem; ">Call: 02039639083</a>
                                </p>
                              </div>
                            </div>
                          </section>

                 <div class="container" style="display: flex; margin-top: 3rem; font-size: 20px;">

                  <div class="col" style="margin-right: 2rem;">

                    <div class="row" style="height: 100%; width: 100%;" >
                      <img src="./Rectangle 143.png" alt="" style="">
                    </div>
                  </div>

                  <div class="col">

                    <div class="row">
                      <li>Driver Medicals Ltd offers Group 2 (DVLA D4 HGV/LGV, PCV, Minibus), Taxi, Motorsport, Forklift Truck, Crane Operator and Police, Fire, Coastguard, Ambulance & Health Service medicals. Our bookings are flexible , straight forward and we endeavor to meet the highest of standards</li>
                       <p>We have regular clinics across many locations including appointments during the day, in the evening and on weekends.</p>
                       <p>Our doctors are experienced and have full GMC (General Medical Council) registration to ensure your medical assessment is completed correctly every time and in accordance with DVLA Group 2 guidelines.</p>
                       <p>Our services cover Birmingham ,Coventry, Wolverhampton , Stoke , Northampton , Milton Keynes, Luton and Cambridge areas</p>
                       <p>We follow strict Covid-19 protocols across all our venues to ensure the safety of our doctors and clients.</p>
                    </div>
                  </div>

                 </div>

                 <div class="container   text-center text-white bg-dark" style="height: 17rem;">
                           
                          
                  <main class="px-3" style="margin-top:5rem;">
                    <h1 style="width: 60%; margin-left: 12rem; line-height: 4rem;">Book your drivers medical today! or Call 020 3963 9083</h1>
                    <p class="lead" style="text-align: center;"> From $55- Same day appointment available upon request - Inc Free Eye Test   </p>
                    <p class="lead">
                      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white " style="background-color: #0ac5a8;">Book Now</a>
                    </p>

                    
                  </main>
                
                
                </div>


                <div class="container" style="display: flex; margin-top: 3rem; font-size: 20px; font-weight:300; ">

                  <div class="col">

                    <div class="row">
                      <h2 style="font-weight: 600; font-size: 21px; color: #475C83;  ">How to arrange your medical?</h2>
                      <p> Select your preferred date and time and we will send you an appointment confirmation after completing your booking. Your appointment confirmation will contain relevant information about your appointment</p>
                      <h2 style="font-weight: 600; font-size: 21px; color: #475C83;">What you need to bring to the medical ?</h2>
                      <p>We follow strict Covid-19 protocols across all our venues to ensure the safety of our doctors and clients.</p>
                    </div>

                    <li>Drivermedicals.uk Medical form <a href="#" style="color: #0ac5a8;">(Click To Download Form)</a></li>
                    <li> Driving license or passport</li>
                    <li> Driving glasses and recent prescription from optician</li>
                    <li> List of current medication including dose and start date</li>
                    <li> Any relevant hospital notes and discharge summaries</li>
                    <li> Full medical records (For Taxi Medicals Only)</li>
                  </div>
                  
                  


                  <div class="col" style="margin-right: 2rem;">

                    <div class="row" style="height: 100%; width: 100%;" >
                     <img src="./Rectangle 144.png" alt="" style="transform: translate(10% , 0%);">
                    </div>
                  </div>

                 </div>

                 <div class="container   mx-auto flex-column text-center text-white bg-dark" style="height: 16rem;">
                           
                          
                  <main class="px-3" style="display: flex; justify-content: center; margin: 3rem; margin-left: 2rem; padding: 2rem; margin: top 4rem; " >
                    <div class="first-div" style="margin-right: 3rem;">
                      <img src="./trustpilot_logo_white 1.png" alt="">
                    </div>

                    <div class="second-div">
                      <h2 style="color: #0ac5a8; font-size: 500;">50,000+</h2>
                      <p style="font-weight: 300; font-size: 1.6rem; ">Drivers have chosen drivermedicals.uk 
                        to date, join them today!</p>
                    </div>

                    <div class="third-div" style="display: grid; margin-left: 4rem; ">
                      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white " style="background-color: #0ac5a8; margin-bottom: 1.3rem;  ">Call: 02039639083</a>
                      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white " style="background-color: #0ac5a8;">Book Now</a>
                      
                    </div>
                   


                  </main>
                

                </div>


                <div class="container" style="display: flex; margin-top: 3rem; font-size: 20px; font-weight:300; ">

                  <div class="col" style="margin-right: 2rem;" >

                    <div class="row">
                      <h2 style="font-weight: 600; font-size: 21px; color: #475C83;  ">What will happen at the medical ?</h2>
                      <p style="margin-top: 2rem;"> Our doctor will confirm your identity and conduct a full D4 medical during your appointment.</p>
                      <p style="margin-top: 2rem;"> Your medical will include a thorough medical history and an assessment of your physical health. The doctor will take a blood pressure reading which complies with DVLA criteria and conduct a visual acuity test using a DVLA approved Snellen chart</p>
                    </div>

                    <h2 style="font-weight: 600; font-size: 21px; color: #475C83; margin-top:4rem; ">What will happen at the medical ?</h2>

                    <li>Please send your completed application forms (D4 form and D2 form) to the DVLA using the return envelope provided.</li>
                    
                  </div>
                  
                   <div  >
                      <img src="./Vector 23.png" alt="">
                    </div>
                  <div class="col" style="margin-right: 2rem;">

                    <div class="col" style="margin-left: 3rem;" >

                      <div class="row">
                        <h2 style="font-weight: 600; font-size: 21px; color:#0ac5a8 ;  ">Low Cost HGV/PCV & Bus Medical including 
                          free Eye Test</h2>
                        <p style="margin-top: 1rem;"> HGV AND PCV drivers require medicals throughout their career.</p>
                        <h2 style="font-weight: 600; font-size: 21px; color:#0ac5a8 ; margin-top: 2rem; ">New Drivers</h2>
                      </div>
  
                      <p style=" font-size: 21px;  margin-top: 0.2rem; ">You need a medical to obtain your provisional license.</p>
  
                      <h2 style="font-weight: 600; font-size: 21px; color:#0ac5a8 ; margin-top: 3rem; ">45 years and older</h2>

                    <p style=" font-size: 21px;  margin-top: 0.2rem; ">You need a medical every 5 years until the age of 65.</p>
                      
                    <h2 style="font-weight: 600; font-size: 21px; color:#0ac5a8 ; margin-top: 3rem; ">65 years and older</h2>
                  

                  <p style=" font-size: 21px; margin-top: 0.2rem; ">You need a medical annually from the the age of 65.</p>

                    </div>
                  </div>

                 </div>

{%endblock%}