{%extends 'display/base.html'%} 
{%load static%}
{%block content%}
  
  <div class="med-body">
    <div class="container-fluid">
      <h1>About Us</h1>
      <div class="med-links ">
        <a href="{%url 'display:home-page%}"><i class="fas fa-home"></i>Home</a>
        <a href="{%url 'display:other%}"><i class="far fa-dot-circle"></i>Our Services</a>
        <a href="{%url 'display:about-page%}"><i class="far fa-dot-circle"></i>About Us</a>
      </div>
      <div class="med-btns">
        <li>
          <button type="button" class="btn">Book Now</button>
        </li>
        <li>
          <button type="button" class="med-btn">Call: 02039639083</button>
        </li>
      </div>
    </div>
  </div>

  <div class="mbus">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 p-5">
          <img class="img-fluid" src="{%static 'display/img/about.png'%}" alt="about">
        </div>
        <div class="col-lg-6 p-5">
          <p class="text-break">Driver Medicals Ltd offers Group 2 (DVLA D4 HGV/LGV, PCV, Minibus), Taxi, Motorsport, Forklift Truck, Crane Operator and Police, Fire, Coastguard, Ambulance & Health Service medicals. Our bookings are flexible , straight forward and we endeavor to meet the highest of standards</p>
          <p class="text-break">We have regular clinics across many locations including appointments during the day, in the evening and on weekends.</p>
          <p class="text-break">Our doctors are experienced and have full GMC (General Medical Council) registration to ensure your medical assessment is completed correctly every time and in accordance with DVLA Group 2 guidelines.</p>
          <p class="text-break">Our services cover Birmingham ,Coventry, Wolverhampton , Stoke , Northampton , Milton Keynes, Luton and Cambridge areas.</p>
          <p class="text-break">We follow strict Covid-19 protocols across all our venues to ensure the safety of our doctors and clients.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mbook">
    <div class="mbook-content">
      <div class="book-headline">
        <div class="bheadline-text">
          <h1>Book your driver's medical today! <br> <span>or Call</span> 020 3963 9083</h1>
          <p><span>Inc. Free Eye Test</span> -Same day appointments available upon request</p>
          <li class="text-btn">
            <button type="button" class="btn">Book Instantly</button>
            <button type="button" class="btn">Download Medical Form</button>
          </li>
        </div>
      </div>
    </div>
  </div>

  <div class="mbus">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 p-5">
          <h2>How to arrange your medical?</h2>
          <p class="text-break mt-2">You can book your HGV/PCV medical easily by clicking the Book Now button below.</p>
          <p class="text-break">Select your preferred date and time and we will send you an appointment confirmation after completing your booking. Your appointment confirmation will contain relevant information about your medical. Alternatively, you can call us on 020 3963 9083 to book your appointment.</p>
          <h2>How to arrange your medical?</h2>
          <ul>
            <li>Drivermedicals.uk Medical form <a href="">(Click To Download Form)</a></li>
            <li>Driving license or passport</li>
            <li>Driving glasses and recent prescription from optician</li>
            <li>List of current medication including dose and start date</li>
            <li>Any relevant hospital notes and discharge summaries</li>
            <li>Full medical records (For Taxi Medicals Only)</li>
          </ul>
        </div>
        <div class="col-lg-6 p-5">
          <img class="img-fluid" src="{%static 'display/img/hero3.png'%}" alt="hero3">
        </div>
      </div>
    </div>
  </div>

  <div class="trust">
    <div class="trust-headline">
      <div class="trust-image">
        <img src="{%static 'display/img/hero4.png'%}" alt="">
      </div>
      <div class="trust-content">
        <div class="trust-pilot">
          <img src="{%static 'display/img/trustpilot_logo_white 1.png'%}" alt="">
        </div>
        <div class="trust-texts">
          <h1>50,000+</h1>
          <p>Drivers have chosen drivermedicals.uk to date, join them today!</p>
        </div>
        <div class="trust-btn">
          <li>
            <button type="button" class="btn">Call: 02039639083</button>
          </li>
          <li>
            <button type="button" class="tbtn">Book Now</button>
          </li>
        </div>
      </div>
    </div>
  </div>

  <div class="mend">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 p-5">
          <h2>What will happen at the medical?</h2>
          <p class="text-break mt-2">Our doctors will confirm your identity and conduct a full D4 medical during your appointment.</p>
          <p class="text-break">Your medical will include a thorough medical history and an assessment of your physical health. The doctor will take a blood pressure reading which complies with DVLA criteria and conduct a visual acuity test using a DVLA approved Snellen chart.</p>
          <h2>What to do after the medical?</h2>
          <ul>
            <li>Please send your completed application forms (D4 form and D2 form) to the DVLA using the return envelope provided.</li>
          </ul>
        </div>
        <div class="col-md-6 p-5">
          <div class="mend-text">
            <h2>Low Cost HGV/PCV & Bus Medical including free Eye Test</h2>
            <p class="text-break mt-2">HGV AND PCV drivers require medicals throughout their career.</p>
            <h2>New Drivers</h2>
            <p class="text-break mt-2">You need a medical to obtain your provisional license.</p>
            <h2>45 years and older</h2>
            <p class="text-break mt-2">You need a medical every 5 years until the age of 65.</p>
            <h2>65 years and older</h2>
            <p class="text-break mt-2">You need a medical annually from the the age of 65.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{%endblock%}