{%extends 'display/base.html'%}{%load static%}{%block content%}
<div class="apply">
  <div class="apply-content">
    <div class="container">
      <form id="regForm" action="{%url 'display:bus-application'%}" method="post" class="aform">
        {%csrf_token%}
        <h1>Register</h1>
        
        <div class="tab">
          <div class="row g-5">
            <h2 class="mb-3">Section 1: Company Details</h2>
            <div style="color: red;">{{form.errors}}</div>
            <div class="col-sm-6">
              <label for="name" class="form-label">Company Name</label>
              <input type="text" class="form-control" id="name" placeholder="" value="" name="company_name" required>
              {%for error in form.company_name.errors%}
              <div class="invalid-feedback" style="display: block;">{{error}}</div>
              {%endfor%}
            </div>
          
            <div class="col-sm-6">
              <label for="text" class="form-label">Company Type</label>
              <select class="form-select" id="text" name="company_type" required>
                <option value="">Choose...</option>
                {%for i in form.company_type.field.choices%}
                <option value="{{i.0}}">{{i.1}}</option>
                {%endfor%}
              </select>
              {%for error in form.company_type.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>
          
            <div class="col-sm-6">
              <label for="text" class="form-label">Nature Of Business</label>
              <input type="text" class="form-control" id="text" placeholder="" name="nature_of_business" required>
              {%for error in form.nature_of_business.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>
          
            <div class="col-sm-6">
              <label for="text" class="form-label">Industry Sector</label>
              <input type="text" class="form-control" id="text" placeholder="" name="industry_sector"  required>
              {%for error in form.industry_sector.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>
          
            <div class="col-sm-6">
              <label for="text" class="form-label">VAT registration number(if applicable)</label>
              <input type="text" class="form-control" id="text" placeholder="If not available write none" name="vat_reg_no">
              {%for error in form.vat_reg_no.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>
          
            <div class="col-sm-6">
              <label for="tel" class="form-label"> Main contact number </label>
              <input type="tel" class="form-control" id="tel" placeholder="E.g. +1 300 400 5000" name="main_contact_number">
              {%for error in form.main_contact_number.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>
          
            <div class="col-sm-6">
              <label for="text" class="form-label">How many years has the business been trading</label>
              <input type="text" class="form-control" id="text" placeholder="" name="no_of_years">
              {%for error in form.no_of_years.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>

            <div class="col-sm-6">
              <label for="city" class="form-label">Number of employees</label>
              <input type="city" class="form-control" id="city" placeholder="" name="no_of_employees">
              {%for error in form.no_of_employees.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>

            <div class="col-sm-6">
              <label for="text" class="form-label">Address</label>
              <input type="text" class="form-control" id="text" placeholder="" name="address">
              {%for error in form.address.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>



            <div class="col-sm-6">
              <label for="city" class="form-label">Town/City</label>
              <input type="city" class="form-control" id="city" placeholder="" name="city">
              <div class="invalid-feedback">
                Please fill out this field
              </div>
            </div>


            <div class="col-sm-6">
              <label for="text" class="form-label">Post Code</label>
              <input type="text" class="form-control" id="text" placeholder="" name="postal_code">
              <div class="invalid-feedback">
                Please fill out this field
              </div>
            </div>

            <div class="col-sm-6">
              <label for="comment" class="form-label">How did you hear about us?</label>
              <textarea class="form-control" rows="4" id="comment" name="medium_of_marketing"></textarea>
              {%for error in form.medium_of_marketing.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>
             
          </div>
        </div>

        <div class="tab">
          <div class="row g-5">
            <h2 class="mb-5">Section 2: Contact & Billing details</h2>
            <div class="col-sm-6">
              <label for="name" class="form-label">Primary Contact Name</label>
              <input type="name" class="form-control" id="name" placeholder="" value="" name="main_contact_name" required>
              {%for error in form.main_contact_name.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>
          
            <div class="col-sm-6">
              <label for="tel" class="form-label">Primary Contact Phone Number</label>
              <input type="tel" class="form-control" id="tel" placeholder="Enter Phone Number" name="main_contact_number" required>
              {%for error in form.main_contact_number.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}

            </div>
          
            <div class="col-sm-6">
              <label for="email" class="form-label">Primary Contact Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="" name="main_contact_email" required>
              {%for error in form.main_contact_email.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>

          
            <div class="col-sm-6">
              <label for="text" class="form-label">Accounts Contact Name</label>
              <input type="text" class="form-control" id="text" placeholder="" name="bill_name">
              {%for error in form.bill_name.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>
          
            <div class="col-sm-6">
              <label for="tel" class="form-label">Account's Phone Number</label>
              <input type="tel" class="form-control" id="tel" placeholder="" name="bill_phone">
              {%for error in form.bill_phone.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>

            <div class="col-sm-6">
              <label for="email" class="form-label">Account's Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="" name="bill_email">
              {%for error in form.bill_email.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>


            <div class="col-sm-6">
              <label for="text" class="form-label">Do you operate a purchase order system?</label>
              <select class="form-select" id="text" name="pur_system" required>
                <option value="">Choose...</option>
                {%for i in form.pur_system.field.choices%}
                <option value="{{i.0}}">{{i.1}}</option>
                {%endfor%}
              </select>
              {%for error in form.pur_system.errors%}
              <div class="invalid-feedback" style="display: block;">
               {{error}}
              </div>
              {%endfor%}
            </div>

            <h4 class="fs-3">Please note, if PO numbers are required for invoicing purposes this must be given at the 
            time of booking. We do not accept any delays to payment where PO numbers are not provided by 
            you.</h4>
             
          </div>
        </div>

        <div class="tab">
          <div class="row g-5">
            <h2 class="mb-3">Section 3: Business Account Usage</h2>
            <h3>Please tell us how frequently you intend to use our service so we can assist you most 
            efficiently. There are no minimum booking requirements, however, we may decline your request 
            if your business is unlikely to use our service regularly.</h3>
            
            <div class="col-sm-6 mb-5">
              <label for="number" class="form-label">Roughly how many medical appointments do you expect
              to book per month?</label>
              <input type="number" class="form-control fs-4" id="number" placeholder="" value="" name="avg_no_order" required>
            </div>
          
            <div class="col-sm-6">
              <label for="text" class="form-label">Authorised persons (names of those authorised to book 
              appointments if you book by email/phone)</label>
              <input type="text" class="form-control fs-4" id="text" placeholder="" value="" name="auth_prsnl_name" required>
            </div>

          </div>

          <div class="row g-5">
            <div class="col-sm-6">
              <label for="address" class="form-label">May we mention your company in our monthly 
              newsletter to our business customers and on our social media channels?</label>
              <select class="form-select fs-4" id="address" name="sub_newsletter" required>
                <option value="">Choose...</option>
                {%for i in form.sub_newsletter.field.choices%}
                <option value="{{i.0}}">{{i.1}}</option>
                {%endfor%}
              </select>
              <h4>(We will always check with you prior to publishing any reference to your business).</h4>
            </div>
          
            <div class="col-sm-6">
              <label for="address2" class="form-label">I hereby request that an account be opened for our
              business in accordance with the above particulars. Please print name to sign.</label>
              <input type="text" class="form-control fs-4" id="address2" placeholder="">
            </div>

          </div>
        </div>

        <div class="mt-5 mb-5" style="overflow:auto;">
          <div style="float:right;">
            <button class="btn btn-lg" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button class="btn btn-lg" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>

        <div style="text-align:center;margin-top:4rem;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        </div>

      </form>
    </div>
  </div>
  
</div>

{%endblock%}
