{%extends 'display/base.html'%}
{%load static%}
{% block extra_css %}
<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{%static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}" rel="stylesheet" type="text/css"/>

<style type="text/css">
    .datepicker.dropdown-menu {
        color: #000;
    }
    .datepicker table tr td.disabled{
        color: #b8b8b757;
    }
</style>
{% endblock %}



{%block content%}

    <div class="bform">
      <div class="bform-content">
        <div class="container">
            <form id="regForm" action="{%url 'display:booking'%}" method="post">

          <div style="overflow:auto;">
            <div class="text-end">
              <button class="btn btn-lg mt-5" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
              <button class="btn btn-lg mt-5" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
          </div>
  
          <div class="tab">
              {%csrf_token%}
                <h1 class=" display-1 fw-bold mt-5 mb-5">Available Locations</h1>
              <input class="sfield" type="search" id="myInput" name="clinic" onkeyup="myFunction()" placeholder="Search for locations">
              <ul class="bform-list" id="myUL">
                {%for i in clinics%}
                <li>
                  <a role="button" data-value="{{i.get_address}}"  class="cardss"> 
                    <div>
                    <h2 class="fw-bold">{{i.get_city}}</h2>
                    <p class="text-muted">{{i.postal_code}}</p>
                    <p class="text-muted fs-5">{{i.get_address}}</p>
                    </div>
                    <div class="bform-image">
                      <img src="{%static 'display/img/location2.png'%}" alt="">
                    </div>
                  </a>
                </li>
                {%endfor%}
                  </ul>
          </div>
    
          <div class="tab">
              <h1 class=" fw-bold mb-5">Account Application</h1>
              <h2 class=" fw-bold mb-5">Please Enter Your Details</h2>
              <div class="row g-3 fs-3">
                <div class="col-sm-6">
                  <label for="username" class="form-label">First Name</label>
                  <input type="text" name="first_name" id="username" class="has-validation form-control fs-3" value="" required="required">
                </div>
                <div class="col-sm-6">
                  <label for="username" class="form-label">Last Name</label>
                  <input type="text" name="last_name"  class="has-validation form-control fs-3" value="" required="required">
                </div>
                <div class="col-sm-6">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" name="email" id="email" class=" has-validation form-control fs-3" value="" required="required">
                </div>
                <div class="col-sm-6">
                  <label for="number" class="form-label">Phone Number</label>
                  <input type="tel" name="phone" id="number" class="has-validation form-control fs-3" value="" required="required">
                </div>
               <div class="col-sm-6">
                <label for="lastName" class="form-label">Service</label>
                <select class="form-select fs-3" id="services" name="product" required>
                  <option value="">Choose...</option>
                  {%for i in form.product.field.choices%}
                  <option value="{{i.0}}">{{i.1}}</option>
                  {%endfor%}
                </select>
                <div class="invalid-feedback">
                </div>
               </div>
               <div class="col-sm-6">
                 <label for="username" class="form-label">Date</label>
                 <input type="text" name="date" id="datepicker" class="form-control fs-3"  readonly>
               </div>
               <div class="col-sm-6">
                <label for="username">Time</label>
                <select class="form-select fs-3" name="time_slot" id="time2"></select>
                </div>                                                  
              </div>
          </div>
    
    
          <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </div>
          </form>
        </div>
      </div>

      
        
    </div>
    {%block extra_javascript%}

    <script src="{%static 'display/animated-search-filter.js'%}"></script>


    <!-- form wizard init -->
    <script src="{%static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>
    <script type="text/javascript">
    
      var element = document.querySelector('#myInput');
    
      var el = document.querySelectorAll('.cardss');
    
    
      el.forEach(e=>{
      e.addEventListener('click', function(){
        element.value = e.getAttribute('data-value');
    
    
    
    
        $.ajax({
            type:'GET',
            url: 'booking/ajax/filter-dates',
            data:{
                'clinic' : element.value,
    
            },
            dataType:'json',
    
            success:function(response){
                // change(response.dates)
    
            jQuery(function(){
                // function change(data){enableDays=data}
                
                $('#datepicker').datepicker('destroy');
                var datesEnabled = response.dates;
                console.log(datesEnabled);
    
                $('#datepicker').datepicker({
    dateFormat: 'dd-mm-yyyy',
    beforeShowDay: function (date) {
      var allDates = date.getDate() + '-' + `${date.getMonth() + 1}`+ '-' + date.getFullYear();;
      if(datesEnabled.indexOf(allDates) != -1)
      return true;
      else
      return false;
       }
    });          })
            }
            })
        })
      })
    </script>
    <script>
    $("#datepicker").on("change.dp", function(){
        $.ajax({
            type:'GET',
            url:'booking/ajax/filter-times',
            data:{
                'clinic':$('#myInput').val(),
                'date':$('#datepicker').val(),
            },
            dataType:'json',
            success:function(response){
                var select = document.getElementById('time2');
                for (var i=0;i<response.times.length;i++){
                    var option = document.createElement('option');
                    option.value = response.times[i]['id'];
                    option.innerHTML = response.times[i]['time'];
                    select.appendChild(option)
                }
            }
        })
    })
    
        
        
    </script>
        
    {%endblock%}
{%endblock%}