{%extends 'display/base.html'%}{%load static%}{%block content%}

<div class="body">
  <div class="hero88">
  </div>
  <div class="bizbody-texts">
      <div class="btext-content">
        <h1>Compliance Medicals Business Service</h1>
        <div class="nav-end2">
          <a class="btn btn-lg" href="{%url 'display:bus-application'%}" role="button">BOOK INSTANTLY</a>
        </div>
      </div>
  </div>
</div>

<div class="biz container">
<div class="row">
<div class="col-lg-4 text-center pt-5 pb-5" style="background-color: #02A9CD;">
<div class="biz-card">
    <div class="date pb-5">
      <img src="{%static 'display/img/bell.svg'%}" alt="Icon" class="pt-5">
    </div>
  <h3 class="pb-5">Discounted Prices</h3>
</div>
</div>
<div class="col-lg-4 text-center pt-5 pb-5" style="background-color: #015668;">
<div class="biz-card">
  <div class="date pb-5">
    <img src="{%static 'display/img/date.svg'%}" alt="Icon" class="pt-5">
  </div>
  <h3 class="pb-5">Online Booking</h3>
</div>
</div>
<div class="col-lg-4  text-center pt-5 pb-5" style="background-color: #02A9CD;">
<div class="biz-card">
  <div class="date pb-5">
    <img src="{%static 'display/img/medic.svg'%}" alt="Icon" class="pt-5">
  </div>
  <h3 class="pb-5">Onsite Medicals</h3>
</div>
</div>
</div>
</div>

<div class="lowcost">
<div class="container">
  <div class="lowcost-texts mb-5 pb-5">
    <div class="range-texts">
      <h1>We provide services to</h1>
      <ul class="fw-bold mt-5 mb-5">
        <li class="mb-3">Haulage</li>
        <li class="mb-3">Logistics</li>
        <li class="mb-3">Courier</li>
        <li class="mb-3">HGV/PSV Training school</li>
        <li class="mb-3">Skip Hire/Waste</li>
        <li class="mb-3">Heavy Plant</li>
        <li class="mb-3">Taxi/Private Hire Service</li>
        <li class="mb-3">Local authority</li>
        <li class="mb-3">Roadside Recovery</li>
        <li class="mb-3">Occupational Health</li>
        <li>Construction</li>
      </ul>
      <p class="text-break fw-bold">To discuss how we can help your business call 01234562523 or 
       <a href="mailto:">email: admin@compliancemedicals.uk</a></p>
    </div>
      
  </div>
</div>
</div>

{%endblock%}