{%extends 'display/base.html'%}{%load static%}{%block content%}

    <div class="body">
            <div class="hero11">
                <img src="{%static 'display/img/hero8.jpeg'%}" alt="">
            </div>
            <div class="bizbody-texts">
                <div class="mtext-content">
                  <h1>Compliance Medicals <br> Business Service</h1>
                  <div class="nav-end">
                    <a class="btn btn-lg" href="{%url 'display:bus-application'%}" role="button">Fill the application</a>
                  </div>
                </div>
            </div>
    </div>

    <div class="biz container">
      <div class="row">
        <div class="col-lg-4">
          <div class="biz-card rounded text-center pt-5 pb-5" style="background-color: #02A9CD;">
              <div class="date pb-5">
                <img src="{%static 'display/img/bell.svg'%}" alt="Icon" class="pt-5">
              </div>
            <h3 class="pt-5 pb-5">Discounted Prices</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="biz-card rounded text-center pt-5 pb-5" style="background-color: #015668;">
            <div class="date pb-5">
              <img src="{%static 'display/img/date.svg'%}" alt="Icon" class="pt-5">
            </div>
            <h3 class="pt-5 pb-5">Online Booking</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="biz-card rounded text-center pt-5 pb-5" style="background-color: #02A9CD;">
            <div class="date pb-5">
              <img src="{%static 'display/img/medic.svg'%}" alt="Icon" class="pt-5">
            </div>
            <h3 class="pt-5 pb-5">Onsite Medicals</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="lowcost">
        <div class="container">
            <div class="comply-texts mb-5 pb-5">
                <h1>We provide services to</h1>
                <ul class="fw-bold mt-5 mb-5">
                  <li class="mb-3">Haulage</li>
                  <li class="mb-3">Logistics</li>
                  <li class="mb-3">Courier</li>
                  <li class="mb-3">HGV/PSV Training school</li>
                  <li class="mb-3">Skip Hire/Waste</li>
                  <li class="mb-3">Heavy Plant</li>
                  <li class="mb-3">Taxi/Private Hire Service</li>
                  <li class="mb-3">Local authority</li>
                  <li class="mb-3">Roadside Recovery</li>
                  <li class="mb-3">Occupational Health</li>
                  <li>Construction</li>
                </ul>
                <p class="text-break fw-bold">To discuss how we can help your business call 01234562523 or 
                 <a href="mailto:">email: admin@compliancemedicals.uk</a></p>
            </div>
        </div>
    </div>

    <div class="end">
      <div class="end-left">
        <div class="hero7">
          <img src="{%static 'display/img/hero7.jpg'%}" alt="">
        </div>
      </div>
      <div class="end-right" style="background-color: #fff;">
        <div class="end-texts">
          <h1>Book Your Driver Medical Now</h1>
          <p class="text-break">You can book your HGV/PCV medical easily by clicking the Book Now button 
          below.</p>
          <p class="text-break">Select your preferred date and time and we will send you an appointment 
            confirmation after completing your booking. Your appointment confirmation will contain 
            relevant information about your medical. Alternatively, you can call us on 020 3963 9083 to 
            book your appointment.</p>
          <div class="nav-end">
              <a class="btn btn-lg" href="{%url 'display:booking'%}" role="button">Book Now</a>
          </div>
        </div>
      </div>
    </div>

{%endblock%}