{%extends 'display/base.html'%}
{%load static%}
{%block content%}
  <div class="med-body">
    <div class="container-fluid">
      <h1>Business Services</h1>
      <div class="med-links ">
        <a href="{%url 'display:home-page'%}"><i class="fas fa-home"></i>Home</a>
        <a href=""><i class="far fa-dot-circle"></i>Our Services</a>
        <a href=""><i class="far fa-dot-circle"></i>HGV Medical</a>
      </div>
      <div class="med-btns">
        <li>
          <a class="btn" href="{%url 'display:bus-application'%}" role="button">Fill the application</a>
        </li>
      </div>
    </div>
  </div>

  <div class="container-fluid business">
    <h1 class="text-center text-uppercase text-light">Business accounts benefits</h1>
  </div>

  <div class="container bus-card pb-5">
    <div class="row gx-md-5">
      <div class="col-4">
        <div class="rounded bg-light text-center pt-5 pb-4">
          <img src="{%static 'display/services/Vector.svg'%}" alt="Icon" class="pb-5">
          <h3>Discounted Prices</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="rounded bg-light text-center pt-5 pb-4">
          <img src="{%static 'display/services/Vector (1).svg'%}" alt="Icon" class="pb-5">
          <h3>Online Booking</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="rounded bg-light text-center pt-5 pb-4">
          <img src="{%static 'display/services/_2404776141824.svg'%}" alt="Icon" class="pb-5">
          <h3>Onsite Medicals</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="mbus">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="fw-bold" style="color: #475C83;">We provide services to</h2>
          <ul>
            <li class="pb-2">Haulage</li>
            <li class="pb-2">Logistics</li>
            <li class="pb-2">Courier</li>
            <li class="pb-2">HGV/PSV Training school</li>
            <li class="pb-2">Skip Hire/Waste</li>
            <li class="pb-2">Heavy Plant</li>
            <li class="pb-2">Taxi/Private Hire Service</li>
            <li class="pb-2">Local authority</li>
            <li class="pb-2">Roadside Recovery</li>
            <li class="pb-2">Occupational Health</li>
            <li class="pb-2">Construction</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="{%static 'display/services/Rectangle 143.png'%}" alt="Bus" class="pb-5" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>

  <div class="mbook">
    <div class="mbook-content">
      <div class="book-headline">
        <div class="bheadline-text">
          <h1 class="fw-bold" style="color: #475C83;">To Discuss how we can help <br> your business</h1>
          <p><span>Inc. Free Eye Test</span> -Same day appointments available upon request</p>
          <li class="text-btn">
            <button type="button" class="btn">Call now: 02039639083</button>
            <button type="button" class="btn">Email:admin@driversmedical.uk</button>
          </li>
        </div>
      </div>
    </div>
  </div>

  
{%endblock%}

