{%extends 'display/base.html'%}
{%load static%}{%block content%}


<div class="bform">
    <div class="bform-content">
      <div class="container">

                <div class="tab">
                    <div class="container-sm">
                        <form id="regForm" action="{%url 'display:checkout'%}" method="post">
                            {%csrf_token%}
                                              <h1 class=" fw-bold mb-5">Confirm Details</h1>
                        <h2 class=" fw-bold mb-5">Kindly Confirm Your Details</h2>
                        <div class="row">
                        
                        <div class="col-md">
                            <ul class="list-group">
                                <li class="list-group-item">
                                <h2>Date & Time</h2>
                                <p class="text-muted fs-3">{{cart.get_date}}<p class="text-muted fs-3">{{cart.get_time}}</p></p>
                                </li>
                                <li class="list-group-item">
                                <h2>City</h2>
                                <p class="text-muted fs-3">{{cart.get_city}}</p>
                                </li>
                                <li class="list-group-item">
                                <h2>Address</h2>
                                <p class="text-muted fs-3">{{cart.get_location}}</p>
                                </li>
                                <li class="list-group-item">
                                <h2>Services</h2>
                                <p class="text-muted fs-3">{{cart.get_product}}</p>
                                </li>
                                <li class="list-group-item">
                                <h2>Price</h2>
                                <p class="text-muted fs-3" id="price_container">£{{cart.get_price}}</p>
                                </li>
                                <div class="">
                                    <h3 id="message" style="color: #015668;"></h3>
                                </div>
                                <div class="input-group mt-3">
                                    <input type="text" class="form-control fs-3" id="code" placeholder="Coupon">
                                    <button class="btn" id="redeem" type="button">Redeem</button>
                                </div>
                                </ul>
                            </div>
                        
                        </div>
                        <div class="col-md mt-5">
                                <a href="{%url 'display:cancel-booking' %}"><button class="btn btn-lg mt-5" type="button" >Back to Booking</button></a>
                                <button class="btn btn-lg mt-5" type="submit" >Proceed to Stripe</button>
                        </div>
                        
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
{%block extra_javascript%}
<script>
    var redeem_btn = document.getElementById('redeem');
    var code = document.getElementById('code');
    redeem_btn.addEventListener('click', function(){
        $.ajax({
            type:'GET',
            url:'booking/ajax/redeem',
            data:{
                'coupon_code':code.value
            },
            dataType:'json',
            success:function(response){
                jQuery(function(){
                    var message = response.message;
                    var container = document.getElementById('message');
                    container.innerHTML = message
                    if (response.valid==true) {
                        var price_container = document.getElementById('price_container');
                        price_container.innerHTML = '£' + response.new_price;
                    if(response.message=='Used!') {
                        redeem_btn.disabled = true;

                    }
                    }
                })
            }

        })
    })
</script>
{%endblock%}