{%extends 'display/base.html'%}
{%load static%}
{%block content%}

  <div class="container-sm">
    <form id="regForm" action="{%url 'display:checkout'%}" method="post">
      {%csrf_token%}
      <h1 class=" fw-bold mb-5" style="color: #0AC5A8;">Confirm Details</h1>
      <h2 class=" fw-bold mb-5 text-center">Kindly Confirm Your Details</h2>
      <div class="row">
        
        <div class="col-md">
          <ul class="list-group">
            <li class="list-group-item">
              <h2>Date & Time</h2>
              <p class="text-muted">{{cart.get_date}}<p>{{cart.get_time}}</p></p>
            </li>
            <li class="list-group-item">
              <h2>City</h2>
              <p class="text-muted">{{cart.get_city}}</p>
            </li>
            <li class="list-group-item">
              <h2>Address</h2>
              <p class="text-muted">{{cart.get_location}}</p>
            </li>
            <li class="list-group-item">
              <h2>Services</h2>
              <p class="text-muted">{{cart.get_product}}</p>
            </li>
            <li class="list-group-item">
              <h2>Price</h2>
              <p class="text-muted">£{{cart.get_price}}</p>
            </li>
            <div class="input-group mt-3">
              <input type="text" class="form-control fs-3" placeholder="Coupon">
              <button type="submit" class="btn">Redeem</button>
            </div>
          </ul>
        </div>
        
      </div>
      <!-- <div class="col-md mt-5">
        <ul class="list-group">
          <li class="list-group-item">
            <h2>Select Your Payment Method</h2>
            <div class="form-check mt-5">
              <input type="checkbox" class="form-check-input p-2" id="check1" name="option1" value="something">
              <label class="form-check-label" for="check1">Stripe</label>
            </div>
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input p-2" id="check1" name="option1" value="something">
              <label class="form-check-label" for="check1">Credit Card</label>
            </div>
          </li>
        </ul>
      </div> -->
      
      <div class="text-center mt-5">
        <button type="button" class="btn">Cancel</button>
        <button type="submit" class="btn">Submit</button>
      </div>


    </form>
  </div>
</div>

{%endblock%}