<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Drivers Medical</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="logo" href="index.html"><img src="/img/DriverMEDICAL LOGO 2.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarh">
          <i class="fa fa-bars"></i>
        </button>

      <div class="collapse navbar-collapse" id="navbarh">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-bs-toggle="dropdown">Our Services</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="hgvmedical.html">HGV Medical</a></li>
                <li><a class="dropdown-item" href="pvcmedical.html">PVC/Bus Medical</a></li>
                <li><a class="dropdown-item" href="taxi.html">Taxi Medical</a></li>
                <li><a class="dropdown-item" href="otherServices.html">Other Medicals</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="business.html">Business Clients</a>
          </li>
        </ul>
        <div class="nav-end">
          <a class="btn" href="booking.html" role="button">Book Now</a>
          <button type="button" class="btn">Login</button>            
        </div>
      </div>
    </div>
  </nav>

  <div class="dashboard">
    <div class="container">
      <h2 class="text-center pt-5 fs-1">Driver's Information</h2>
      <div class="table-responsive container">
        <table class="table table-striped table-sm fs-4 mt-5">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Location</th>
              <th scope="col">Date</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Company Email</th>
              <th scope="col">Service</th>
              <th scope="col">Price</th>
              <th scope="col">Scheduled Time</th>
              <th scope="col">Scheduled Date</th>
              <th scope="col">Doctor</th>

            </tr>
          </thead>
          <tbody>
            <tr style="background-color: #c2fff6;">
              <td>1</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              
            </tr>
            <tr>
              <td>2</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr style="background-color: #c2fff6;">
              <td>3</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr>
              <td>4</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr style="background-color: #c2fff6;">
              <td>5</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr>
              <td>6</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr style="background-color: #c2fff6;">
              <td>7</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr>
              <td>8</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr style="background-color: #c2fff6;">
              <td>9</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr>
              <td>10</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr style="background-color: #c2fff6;">
              <td>11</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr>
              <td>12</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr style="background-color: #c2fff6;">
              <td>13</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr>
              <td>14</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr style="background-color: #c2fff6;">
              <td>15</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            <tr>
              <td>16</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
              <td>placeholder</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container-md mt-5">
      <div class="row">
        <div class="col-md-3">
          <a href="index.html"><img class="img-fluid mb-2" src="img/DriverMEDICAL LOGO 2.png" alt="Drivers Medicals"></a>
          <p class="h4">All driver medicals are completed by GMC registered doctors in accordance with current DVLA Group 2 guidelines.</p>
          <a class="fs-2" href=""><i class="fab fa-linkedin"></i></a>
          <a class="fs-2" href=""><i class="fab fa-instagram"></i></a>
          <a class="fs-2" href=""><i class="fab fa-twitter"></i></a>
        </div>
        <div class="col-md-3">
          <h2>Ouick Links</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Locations</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Ouick Links</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">HGV Medical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PVC/Bus Medical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Taxi Medical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Business Services</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="end fs-4">
            <h2>Contact Us</h2> 
            <span class="fas fa-map-marker-alt"></span>       
            <p>United Kingdom</p>
            <span class="fas fa-phone-alt"></span>
            <p>0203 963 9083</p>
            <span class="fas fa-envelope"></span>
            <p class="text-break">Bookings@drivermedicals.uk</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-footer">
    <div class="footer-wrapper">
        <div class="wrapper-end">
            <p>Drivermedicals.uk © 2022. All Rights Reserved</p>
        </div>
    </div>
  </footer>

  
  


<script src="/animated-search-filter.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/script.js"></script>
</body>
</html>
