{%load static%}{%block footer%}
<div class="footer">
    <div class="footer-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 bottom">
            <div class="logo2">
              <a href="{%url 'display:home-page'%}"><img src="{%static 'display/img/logo2.png'%}" alt="Drivers Medicals"></a>
            </div>
            <p class="mt-5">All driver medicals are completed by GMC registered doctors in accordance with current DVLA Group 2 guidelines.</p>
            <a class="fs-2" href=""><i class="fab fa-linkedin"></i></a>
            <a class="fs-2" href=""><i class="fab fa-instagram"></i></a>
            <a class="fs-2" href=""><i class="fab fa-twitter"></i></a>
          </div>
          <div class="col-lg-3 quick">
            <h2>Ouick Links</h2>
            <ul class="nav flex-column">
              <li class="enav-item">
                <a class="enav-link" href="{%url 'display:hgv'%}">HGV/Bus Medical</a>
              </li>
              <li class="enav-item">
                <a class="enav-link" href="{%url 'display:taxi'%}">Taxi Medical</a>
              </li>
              <li class="enav-item">
                <a class="enav-link" href="{%url 'display:omedicals'%}">Other Medicals</a>
              </li>
              <li class="enav-item">
                <a class="enav-link" href="{%url 'display:business-clients'%}">Business Clients</a>
              </li>
              <li class="enav-item">
                <a class="enav-link" href="{%url 'display:location-page'%}">Locations</a>
              </li>
              <li class="enav-item">
                <a class="enav-link" href="{%url 'display:faq'%}">FAQs</a>
              </li>
              <li class="enav-item">
                <a class="enav-link" href="{%url 'display:contact'%}">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 quick quicks">
            <h2>Ouick Links</h2>
            <div>
              <a href="tel:+"><span class="fas fa-phone-alt spa mt-5"></span>0203 963 9083</a>
              <p class="text-break"><span class="fas fa-envelope spa mt-5"></span>Send A Message</p>
              <a href="mailto:">Bookings@drivermedicals.uk</a>
            </div>
          </div>
          <div class="col-lg-3 pilot">
            <div class="pilot">
              <img src="{%static 'display/img/logo3.png'%}" alt="Trust Pilot">
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <footer class="footer-footer">
    <div class="footer-wrapper">
      <div class="wrapper-end fs-2 p-3">
        <p>Drivermedicals.uk © 2022. All Rights Reserved</p>
      </div>
    </div>
  </footer>
{%endblock%}