{% load static %}
{% block header%}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <a class="logo" href="{%url 'display:home-page'%}"><img src="{%static 'display/img/DriverMEDICAL LOGO 2.png'%}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarh">
        <i class="fa fa-bars"></i>
      </button>

    <div class="collapse navbar-collapse" id="navbarh">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'display:about-page'%}">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" data-bs-toggle="dropdown">Our Services</a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'display:hgv'%}">HGV Medical</a></li>
              <li><a class="dropdown-item" href="{%url 'display:pvc'%}">PVC/Bus Medical</a></li>
              <li><a class="dropdown-item" href="{%url 'display:taxi'%}">Taxi Medical</a></li>
              <li><a class="dropdown-item" href="{%url 'display:other'%}">Other Medicals</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'display:location-page'%}">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'display:business-clients'%}">Business Clients</a>
        </li>
      </ul>
      <div class="nav-end">
        <a class="btn" href="{%url 'display:booking'%}" role="button">Book Now</a>
        <button type="button" class="btn">Login</button>            
      </div>
    </div>
  </div>
</nav>
{%endblock%}