{% load static %}
{% block footer %}
<div class="hfooter">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-sm-3">
        <a href="index.html"><img class="img-fluid mb-2" src="{%static 'display/img/facebook 1.png'%}" alt="New York"></a>
        <p>All driver medicals are completed by GMC registered doctors in accordance with current DVLA Group 2 guidelines.</p>
        <a href=""><i class="fab fa-linkedin"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
      </div>
      <div class="col-sm-3">
        <h2>Ouick Links</h2>
        <ul class="nav flex-column">
          <li class="hnav-item">
            <a class="hnav-link" href="#">About Us</a>
          </li>
          <li class="hnav-item">
            <a class="hnav-link" href="#">Our Services</a>
          </li>
          <li class="hnav-item">
            <a class="hnav-link" href="#">Locations</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h2>Ouick Links</h2>
        <ul class="nav flex-column">
          <li class="hnav-item">
            <a class="hnav-link" href="#">HGV Medical</a>
          </li>
          <li class="hnav-item">
            <a class="hnav-link" href="#">PVC/Bus Medical</a>
          </li>
          <li class="hnav-item">
            <a class="hnav-link" href="#">Taxi Medical</a>
          </li>
          <li class="hnav-item">
            <a class="hnav-link" href="#">Business Services</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="hend">
          <h2>Ouick Links</h2> 
          <span class="fas fa-map-marker-alt"></span>       
          <p>United Kingdom</p>
          <span class="fas fa-phone-alt"></span>
          <p>0203 963 9083</p>
          <span class="fas fa-envelope"></span>
          <p class="text-break">Bookings@drivermedicals.uk</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer-footer">
  <div class="footer-wrapper">
      <div class="wrapper-end">
          <p>Drivermedicals.uk © 2022. All Rights Reserved</p>
      </div>
  </div>
</footer>

{%endblock%}