{%extends 'display/base.html'%}
{%load static%}
{%block content%}

<div class="body">
  <div class="hero">
    <img src="{%static 'display/img/hero1.jpg'%}" alt="">
  </div>
  <div class="body-texts">
    <div class="text-content">
      <h1>HGV/PCV & Taxi Specialists</h1>
      <h2>Same day appointments available upon request</h2>
      <h3>£55 Includes Free Eye Test</h3>
      <div class="nav-end2">
        <a class="btn btn-lg" href="{%url 'display:booking'%}" role="button">BOOK INSTANTLY</a>
      </div>
    </div>
  </div>
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-4" style="background-color: #02A9CD;">
        <div class="body-card text-center pt-5 pb-4" >
            <div class="date pb-5">
                <img src="{%static 'display/img/date.svg'%}" alt="Icon">
            </div>
          <h1>STEP 1</h1>
          <h3>Book your location, date <br> and time.</h3>
        </div>
      </div>
      <div class="col-lg-4" style="background-color: #015668;">
        <div class="body-card text-center pt-5 pb-4">
          <img src="{%static 'display/img/doctor.svg'%}" alt="Icon" class="pb-5">
          <h1>STEP 2</h1>
          <h3>Meet your doctor.</h3>
        </div>
      </div>
      <div class="col-lg-4" style="background-color: #02A9CD;">
        <div class=" body-card text-center pt-5 pb-4" >
          <img src="{%static 'display/img/note.svg'%}" alt="Icon" class="pb-5">
          <h1>STEP 3</h1>
          <h3>Submit your completed <br> medical assessment.</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="comply">
    <div class="container">
      <div class="row">
        <div class="col-lg c1">
          <div class="comply-image">
            <img src="{%static 'display/img/hero2.jpeg'%}" alt="">
          </div>
        </div>
        <div class="col-lg c2">
          <div class="comply-texts">
            <h1>Compliance Medicals</h1>
            <p class="text-break mt-5">At Compliance, we pride ourselves with getting drivers through the licence application process as efficiently as possible.</p>
            <p class="text-break mt-5">We have regular clinics at different locations across the UK.  Drivers can book appointments to be seen on weekdays, weekends or evenings.</p>
            <p class="text-break mt-5">Our doctors are fully GMC registered and have several years of experience conducting DVLA Group 2 driver medical exams.</p>
            <h2 class="mt-5">Why book with Us?</h2>
            <p class="h1 mt-3"><img src="{%static 'display/img/arrow.svg'%}" alt="" class="arrow">Affordable</p>
            <p class="h1 mt-3"><img src="{%static 'display/img/arrow.svg'%}" alt="" class="arrow">Easy Booking</p>
            <p class="h1 mt-3"><img src="{%static 'display/img/arrow.svg'%}" alt="" class="arrow">Flexible Appointments</p>
            <p class="h1 mt-3"><img src="{%static 'display/img/arrow.svg'%}" alt="" class="arrow">DVLA Eye Test Included</p>
            <p class="h1 mt-3"><img src="{%static 'display/img/arrow.svg'%}" alt="" class="arrow">D4 Form Checking Service</p>
          </div>
        </div>
      </div>
        
        
    </div>
</div>

<div class="services">
  <h1 class="text-center mb-5">Our Services</h1>
  <div class="container mt-5 pt-5">
      <div class="s-content">
        <div class="row">
          <div class="col-lg-4">
            <div class="simage" style="background-image: url({%static 'display/img/hero3.jpg'%});">
              <img src="{%static 'display/img/hero3.jpg'%}" alt="">
            </div>
          </div>
          <div class="col-lg-8">
            <div class="stexts">
              <div class="stext p-5">
                  <h2 class="mb-3 pt-3">HGV Medical</h2>
                  <div class="stext-p mt-3 mb-3">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>We provide cheap HGV medicals for HGV drivers nationwide.</p>
                  </div>
                  <div class="stext-p mb-5">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>Our doctors will conduct a full HGV medical which includes an eye test, and then fill out your D4 medical form. You will be advised on what to bring to your D4 medical.​</p>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>

      <div class="s-content mt-5">
        <div class="row">
          <div class="col-lg-8">
            <div class="stexts">
              <div class="stext mt-3 p-5">
                  <h2 class="mt-5 mb-5 pt-5">Taxi Medical</h2>
                  <div class="stext-p mb-3">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>We provide cheap taxi medicals and have been approved by a number of councils to provide taxi medicals.</p>
                  </div>
                  <div class="stext-p mb-3">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>Most councils accept medicals from all GMC registered doctors.</p>
                  </div>
                  <div class="stext-p pb-5 mb-5">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>Some councils require full medical records, so please contact your council prior to booking your taxi medical.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="simage" style="background-image: url({%static 'display/img/hero4.jpg'%});">
              <img src="{%static 'display/img/hero4.jpg'%}" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="s-content mt-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="simage" style="background-image: url({%static 'display/img/hero5.jpg'%});">
              <img src="{%static 'display/img/hero5.jpg'%}" alt="">
            </div>
          </div>
          <div class="col-lg-8">
            <div class="stexts">
              <div class="stext p-5">
                  <h2 class="mb-5 pt-5">PCV/Bus Medical</h2>
                  <div class="stext-p mb-3">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>All bus, minibus and coach drivers require a PCV medical. We provide cheap PCV/Bus medicals nationwide.</p>
                  </div>
                  <div class="stext-p pb-5">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>The PCV medical is similar to the HGV medical and involves a full driver assessment and the completion of your D4 medical form.​</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="s-content mt-5">
        <div class="row">
          <div class="col-lg-8">
            <div class="stexts">
              <div class="stext p-5 mt-3">
                  <h2 class="mb-5 pt-5">Business Services</h2>
                  <div class="stext-p mb-3">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>We can provide driver medicals for your employees at a discount.</p>
                  </div>
                  <div class="stext-p mb-3">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>Our GMC registered doctors can conduct an HGV medical, Bus medical or Taxi medical, at your location.</p>
                  </div>
                  <div class="stext-p pb-5">
                      <img src="{%static 'display/img/check.svg'%}" alt="" class="check">
                      <p>Contact us now for your bespoke driver medical package.</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="simage" style="background-image: url({%static 'display/img/hero6.jpg'%});">
              <img src="{%static 'display/img/hero6.jpg'%}" alt="">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="end">
  <div class="end-left">
    <div class="hero7" style="background-image: url({%static 'display/img/hero7.jpg'%});">
      <img src="{%static 'display/img/hero7.jpg'%}" alt="">
    </div>
  </div>
  <div class="end-right">
    <div class="end-texts">
      <h1>Book Your Driver Medical Now</h1>
      <p class="text-break">You can book your HGV/PCV medical easily by clicking the Book Now button.</p>
      <p class="text-break">Select your preferred date and time and we will send you an appointment confirmation after completing your booking. Your appointment confirmation will contain relevant information about your medical. Alternatively, you can call us on 020 3963 9083 to book your appointment.</p>
      <div class="nav-end3">
          <a class="btn btn-lg mt-5" href="{%url 'display:booking'%}" role="button">BOOK NOW</a>
      </div>
    </div>
  </div>
</div>


{%endblock%}