{%extends 'display/base.html'%}{%load static%}{%block content%}
<div class="body pb-5">
  <div class="hero17">
  </div>
  <div class="l-body-texts">
      <div class="mtext-content">
        <h1>Clinic Locations</h1>
      </div>
  </div>
</div>

<div class="location">
  <div class="container">
    <div class="lowcost-texts">
      <h1 class="mt-5 pt-5">We Have Several Clinic Locations Across the UK</h1>
    </div>
    <iframe src="https://www.google.com/maps/d/embed?mid=1fKfnG_yufw5-njFY2Kk2edUj1GGYR9tn&ehbc=2E312F" class="map"></iframe>
    <div class="mapp">
      <div class="row">
        <div class="col-lg-3 mapped">
          <a href="#" class="mb-3">Bedford</a>
          <a href="#" class="mb-3">Birmingham</a>
          <a href="#" class="mb-3">Brentford</a>
          <a href="#" class="mb-3">Bristol</a>
          <a href="#" class="mb-3">Cambridge</a>
          <a href="#" class="mb-3">Chelmsford</a>
          <a href="#" class="mb-3">Colchester</a>
        </div>
        <div class="col-lg-3 mapped">
          <a href="#" class="mb-3">Coventry</a>
          <a href="#" class="mb-3">Derby</a>
          <a href="#" class="mb-3">London - Hendon</a>
          <a href="#" class="mb-3">Ipswich</a>
          <a href="#" class="mb-3">Leicester</a>
          <a href="#" class="mb-3">Luton</a>
          <a href="#" class="mb-3">Milton Keynes</a>
        </div>
        <div class="col-lg-3 mapped">
          <a href="#" class="mb-3">Northampton</a>
          <a href="#" class="mb-3">Nottingham</a>
          <a href="#" class="mb-3">Oxford</a>
          <a href="#" class="mb-3">Peterborough</a>
          <a href="#" class="mb-3">Reading</a>
          <a href="#" class="mb-3">Stevenage</a>
          <a href="#" class="mb-3">Stoke on Trent</a>
        </div>
        <div class="col-lg-3 mapped2">
          <a href="#" class="mb-3">Telford</a>
          <a href="#" class="mb-3">Wolverhampton</a>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="container locate">
  <h1 class="text-center">Book online or call to book your low cost HGV medical, D4 medical, Taxi medical, Bus medical or PCV medical today.</h1>
</div>

<div class="tend">
  <div class="end-left">
    <div class="hero7" style="background-image: url(static/display/img/hero7.jpg);">
      <img src="{%static 'display/img/hero7.jpg'%}" alt="">
    </div>
  </div>
  <div class="tend-right">
    <div class="end-texts">
      <h1>Book Your Driver Medical Now</h1>
      <p class="text-break">You can book your low cost HGV medical, D4 medical, Taxi medical, Bus medical or PCV medical easily by clicking the Book Now button.</p>
      <p class="text-break">Select your preferred date and time and we will send you an appointment confirmation after completing your booking. Your appointment confirmation will contain relevant information about your medical. Alternatively, you can call us on 020 3963 9083 to book your appointment.</p>
      <div class="nav-end3">
          <a class="btn btn-lg mt-5" href="{%url 'display:booking'%}" role="button">BOOK NOW</a>
      </div>
    </div>
  </div>
</div>


{%endblock%}