{%extends 'display/base.html'%}{%load static%}{%block content%}

  <div class="success">
    <div class="container">
      <div class="row">
         <div class="col-lg mx-auto mt-5">
            <div class="error">
               <div class="text-center">
                  <h1 class="mt-5">Good Day!</h1>
                  {%if status == "activated"%}
                  <p class="fs-1 mb-5">Your account has been activated</p>
                  <p class="fs-1 mb-5">Login here<a href="{%url 'corporate_portal:login'%}" class="mb-5 mt-5 fs-3">LOGIN</a>
                  {%elif status == "not_activated"%}
                  <p class="fs-1 mb-5">An email has been sent to your main contact email: {{company.user.email}}</p>
                  <p class="fs-1 mb-5">Didn't get an email?<a href="{%url 'display:resend-cor-confirm' company.slug%}" class="mb-5 mt-5 fs-3">RESEND EMAIL</a>
                  </p>
                  {%endif%}
                  <p><a href="{%url 'display:home-page'%}" class="mb-5 mt-5 fs-3">BACK TO HOME</a></p>
               </div>
               
            </div>
         </div>
      </div>
    </div>
  </div>
  

{%endblock%}