{%load static%}{%block header%}

<nav class="navbar navbar-expand-lg sticky-top">
  <div class="info p-3">
    <div class="container">
      <a class="infos tel fs-4" href="tel:+ 0203 963 9083"><span class="fas fa-phone-alt pe-1"></span>0203 963 9083</a>
      <a class="infos mail fs-4" href="mailto: Bookings@compliancemedicals.uk"><span class="fas fa-envelope pe-1"></span>Bookings@compliancemedicals.uk</a>
      <div class="infolink">
        <a class="fs-3 infos" href=""><i class="fab fa-facebook"></i></a>
        <a class="fs-3 infos" href=""><i class="fab fa-twitter"></i></a>
        <a class="fs-3 infos" href=""><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  
    <div class="container">
        <a class="logo" href="{%url 'display:home-page'%}"><img src="{%static 'display/img/logo1.png'%}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
          <i class="fa fa-bars"></i>
        </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'display:hgv'%}">HGV/BUS MEDICALS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'display:taxi'%}">TAXI MEDICALS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'display:omedicals'%}">OTHER MEDICALS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bc" href="{%url 'display:business-clients'%}">BUSINESSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link loc" href="{%url 'display:location-page'%}">LOCATIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fre" href="{%url 'display:faq'%}">FAQS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link con" href="{%url 'display:contact'%}">CONTACT</a>
          </li>
          <li class="nav-item dropdown none">
            <a class="nav-link" href="#" data-bs-toggle="dropdown">MORE</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item bc2" href="{%url 'display:bus-application'%}">BUSINESS CLIENTS</a></li>
                <li><a class="dropdown-item loc2" href="{%url 'display:location-page'%}">LOCATIONS</a></li>
                <li><a class="dropdown-item" href="{%url 'display:contact'%}">CONTACT</a></li>
                <li><a class="dropdown-item" href="{%url 'display:faq'%}">FAQS</a></li>
            </ul>
          </li>
        </ul>
        <div class="nav-end">
          <a class="btn btn-lg" href="{%url 'display:booking'%}" role="button">BOOK ONLINE</a>
        </div>
      </div>
    </div>
</nav>
{%endblock%}