{%extends 'display/base.html'%}  
{%load static%}
{%block content%}
  
  
  <main  style="background-color: #475C83; color: #475C83;">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="{%static 'display/services/Rectangle 164.png'%}" alt="">
            <div class="card-body">
              <h3 class="card-text text-center">Ambulance</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 stop">
          <div class="card">
            <img src="{%static 'display/services/Rectangle 166.png'%}" alt="">
            <div class="card-body">
              <h3 class="card-text text-center">Pre-Employment</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 stop">
          <div class="card">
            <img src="{%static 'display/services/Rectangle 169.png'%}" alt="">
            <div class="card-body">
              <h3 class="card-text text-center">Motorhome</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-md-4">
          <div class="card">
            <img src="{%static 'display/services/Rectangle 170.png'%}" alt="">
            <div class="card-body">
              <h3 class="card-text text-center">forklift</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 stop">
          <div class="card">
            <img src="{%static 'display/services/Rectangle 171.png'%}" alt="">
            <div class="card-body">
              <h3 class="card-text text-center">Motorsport</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 stop card-bottom">
          <div class="card">
            <img src="{%static 'display/services/Rectangle 175.png'%}" alt="">
            <div class="card-body">
              <h3 class="card-text text-center">Crane</h3>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </main>

  <div class="mend pb-5">
    <div class="container mt-5">
      <div class="row gx-5">
        <h1 class="text-center padding-bottom-big fw-bold" style= "color: #475C83;">Ambulance Driver Medicals</h1>
        <div class="col-md-6 mt-5">
          <p class="text-break ">Many ambulance students are required to hold a provisional C1 licence before starting their paramedic courses. 
            We conduct ambulance driver medicals for paramedics, ambulance drivers and students all over the UK.</p>
          <h2>What will happen at the medical?</h2>
          <p class="text-break mt-2">Our doctors will confirm your identity and conduct a full D4 medical during your appointment.</p>
          <p class="text-break">Your medical will include a thorough medical history and an assessment of your physical health. The doctor will take a blood pressure reading which complies with DVLA criteria and conduct a visual acuity test using a DVLA approved Snellen chart.</p>
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 165.png'%}" alt="">
          </div>
          <div class="vl"></div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="mend-text">
            <h2>What you need To bring to the medical?</h2>
            <ul>
              <li class="mb-4">D4 Medical Form</li>
              <li class="mb-4">Photo ID</li>
              <li class="mb-4">Your driving glasses/contact lenses & prescription</li>
              <li class="mb-5">Details of any ongoing medical conditions plus any medication you are taking</li>
            </ul>
            <a class="btn btn-lg mb-3" href="{%url 'display:booking'%}" role="button">Book Now</a>
          </div>
          
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 164.png'%}" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row gx-5">
        <h1 class="text-center padding-bottom-big fw-bold" style= "color: #475C83;">Pre Employment</h1>
        <div class="col-md-6 mt-5">
          <p class="text-break ">A number of employers now request for a certificate of fitness to be provided by an individual when starting a new role. Our doctors conduct these pre-employment medicals according to strict DVLA group 2 medical standards. Please bring along any forms your employer might require the doctor to fill.</p>
          <h2>What will happen at the medical?</h2>
          <p class="text-break mt-2">Our doctors will confirm your identity and conduct a full D4 medical during your appointment.</p>
          <p class="text-break">Your medical will include a thorough medical history and an assessment of your physical health. The doctor will take a blood pressure reading which complies with DVLA criteria and conduct a visual acuity test using a DVLA approved Snellen chart.</p>
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 167.png'%}" alt="">
          </div>
          <div class="vl"></div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="mend-text">
            <h2>What you need To bring to the medical?</h2>
            <ul>
              <li class="mb-4">D4 Medical Form</li>
              <li class="mb-4">Photo ID</li>
              <li class="mb-4">Your driving glasses/contact lenses & prescription</li>
              <li class="mb-5">Details of any ongoing medical conditions plus any medication you are taking</li>
            </ul>
            <a class="btn btn-lg mb-3" href="{%url 'display:booking'%}" role="button">Book Now</a>
          </div>
          
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 166.png'%}" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row gx-5">
        <h1 class="text-center padding-bottom-big fw-bold" style= "color: #475C83;">Motorhome Driver Medicals</h1>
        <div class="col-md-6 mt-5">
          <p class="text-break ">Many ambulance students are required to hold a provisional C1 licence before starting their paramedic courses. 
            We conduct ambulance driver medicals for paramedics, ambulance drivers and students all over the UK.</p>
          <h2>What will happen at the medical?</h2>
          <p class="text-break mt-2">Our doctors will confirm your identity and conduct a full D4 medical during your appointment.</p>
          <p class="text-break">Your medical will include a thorough medical history and an assessment of your physical health. The doctor will take a blood pressure reading which complies with DVLA criteria and conduct a visual acuity test using a DVLA approved Snellen chart.</p>
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 169.png'%}" alt="">
          </div>
          <div class="vl"></div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="mend-text">
            <h2>What you need To bring to the medical?</h2>
            <ul>
              <li class="mb-4">D4 Medical Form</li>
              <li class="mb-4">Photo ID</li>
              <li class="mb-4">Your driving glasses/contact lenses & prescription</li>
              <li class="mb-5">Details of any ongoing medical conditions plus any medication you are taking</li>
            </ul>
            <a class="btn btn-lg mb-3" href="{%url 'display:booking'%}" role="button">Book Now</a>
          </div>
          
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 168.png'%}" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row gx-5">
        <h1 class="text-center padding-bottom-big fw-bold" style= "color: #475C83;">Forklift Medicals</h1>
        <div class="col-md-6 mt-5">
          <p class="text-break ">Many ambulance students are required to hold a provisional C1 licence before starting their paramedic courses. 
            We conduct ambulance driver medicals for paramedics, ambulance drivers and students all over the UK.</p>
          <h2>What will happen at the medical?</h2>
          <p class="text-break mt-2">Our doctors will confirm your identity and conduct a full D4 medical during your appointment.</p>
          <p class="text-break">Your medical will include a thorough medical history and an assessment of your physical health. The doctor will take a blood pressure reading which complies with DVLA criteria and conduct a visual acuity test using a DVLA approved Snellen chart.</p>
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 173.png'%}" alt="">
          </div>
          <div class="vl"></div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="mend-text">
            <h2>What you need To bring to the medical?</h2>
            <ul>
              <li class="mb-4">D4 Medical Form</li>
              <li class="mb-4">Photo ID</li>
              <li class="mb-4">Your driving glasses/contact lenses & prescription</li>
              <li class="mb-5">Details of any ongoing medical conditions plus any medication you are taking</li>
            </ul>
            <a class="btn btn-lg mb-3" href="{%url 'display:booking'%}" role="button">Book Now</a>
          </div>
          
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 170.png'%}" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row gx-5">
        <h1 class="text-center padding-bottom-big fw-bold" style= "color: #475C83;">Motorsport Medicals</h1>
        <div class="col-md-6 mt-5">
          <p class="text-break ">Many ambulance students are required to hold a provisional C1 licence before starting their paramedic courses. 
            We conduct ambulance driver medicals for paramedics, ambulance drivers and students all over the UK.</p>
          <h2>What will happen at the medical?</h2>
          <p class="text-break mt-2">Our doctors will confirm your identity and conduct a full D4 medical during your appointment.</p>
          <p class="text-break">Your medical will include a thorough medical history and an assessment of your physical health. The doctor will take a blood pressure reading which complies with DVLA criteria and conduct a visual acuity test using a DVLA approved Snellen chart.</p>
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 174.png'%}" alt="">
          </div>
          <div class="vl"></div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="mend-text">
            <h2>What you need To bring to the medical?</h2>
            <ul>
              <li class="mb-4">D4 Medical Form</li>
              <li class="mb-4">Photo ID</li>
              <li class="mb-4">Your driving glasses/contact lenses & prescription</li>
              <li class="mb-5">Details of any ongoing medical conditions plus any medication you are taking</li>
            </ul>
            <a class="btn btn-lg mb-3" href="{%url 'display:booking'%}" role="button">Book Now</a>
          </div>
          
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 171.png'%}" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row gx-5">
        <h1 class="text-center padding-bottom-big fw-bold" style= "color: #475C83;">Crane Operator Medicals</h1>
        <div class="col-md-6 mt-5">
          <p class="text-break ">Many ambulance students are required to hold a provisional C1 licence before starting their paramedic courses. 
            We conduct ambulance driver medicals for paramedics, ambulance drivers and students all over the UK.</p>
          <h2>What will happen at the medical?</h2>
          <p class="text-break mt-2">Our doctors will confirm your identity and conduct a full D4 medical during your appointment.</p>
          <p class="text-break">Your medical will include a thorough medical history and an assessment of your physical health. The doctor will take a blood pressure reading which complies with DVLA criteria and conduct a visual acuity test using a DVLA approved Snellen chart.</p>
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 175.png'%}" alt="">
          </div>
          <div class="vl"></div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="mend-text">
            <h2>What you need To bring to the medical?</h2>
            <ul>
              <li class="mb-4">D4 Medical Form</li>
              <li class="mb-4">Photo ID</li>
              <li class="mb-4">Your driving glasses/contact lenses & prescription</li>
              <li class="mb-5">Details of any ongoing medical conditions plus any medication you are taking</li>
            </ul>
            <a class="btn btn-lg mb-3" href="{%url 'display:booking'%}" role="button">Book Now</a>
          </div>
          
          <div class="mend-image">
            <img class="w-100" src="{%static 'display/services/Rectangle 172.png'%}" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>

{%endblock%}