<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Drivers Medical</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="logo" href="index.html"><img src="/img/DriverMEDICAL LOGO 2.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarh">
          <i class="fa fa-bars"></i>
        </button>

      <div class="collapse navbar-collapse" id="navbarh">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-bs-toggle="dropdown">Our Services</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="hgvmedical.html">HGV Medical</a></li>
                <li><a class="dropdown-item" href="pvcmedical.html">PVC/Bus Medical</a></li>
                <li><a class="dropdown-item" href="taxi.html">Taxi Medical</a></li>
                <li><a class="dropdown-item" href="otherServices.html">Other Medicals</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="business.html">Business Clients</a>
          </li>
        </ul>
        <div class="nav-end">
          <a class="btn" href="booking.html" role="button">Book Now</a>
          <button type="button" class="btn">Login</button>            
        </div>
      </div>
    </div>
  </nav>

  <div class="med-body">
    <div class="container-fluid">
      <h1>PVC/Bus Medical</h1>
      <div class="med-links">
        <a href="index.html"><i class="fas fa-home"></i>Home</a>
        <a href=""><i class="far fa-dot-circle"></i>Our Services</a>
        <a href=""><i class="far fa-dot-circle"></i>PVC/Bus Medical</a>
      </div>
      <div class="med-btns col-md">
        <li>
          <button type="button" class="btn">Book Now</button>
        </li>
        <li>
          <button type="button" class="med-btn">Call: 02039639083</button>
        </li>
      </div>
    </div>
  </div>

  <div class="mbus">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 p-5">
          <img class="img-fluid" src="/img/pbus.png" alt="Bus">
        </div>
        <div class="col-md-6 p-5">
          <p class="text-break mt-2">All PCV and bus drivers must complete a D4 medical when applying for a provisional category D licence.</p>
          <p class="text-break mt-2">After your initial medical you need a renewal medical at 45, then every 5 years until it becomes an annual medical from the age of 65. There can be exceptions to this rule though and you should always check the date in column 11 on the back of your driving licence. For renewals DVLA will also send you renewal paperwork by post 56 days before your licence expiry.</p>
          <h2>How to arrange your medical?</h2>
          <p class="text-break mt-2">You can book your HGV/PCV medical easily by clicking the Book Now button below.</p>
          <p class="text-break">Select your preferred date and time and we will send you an appointment confirmation after completing your booking. Your appointment confirmation will contain relevant information about your medical. Alternatively, you can call us on 020 3963 9083 to book your appointment.</p>
          <h2>How to arrange your medical?</h2>
          <ul>
            <li>Drivermedicals.uk Medical form <a href="">(Click To Download Form)</a></li>
            <li>Driving license or passport</li>
            <li>Driving glasses and recent prescription from optician</li>
            <li>List of current medication including dose and start date</li>
            <li>Any relevant hospital notes and discharge summaries</li>
            <li>Full medical records (For Taxi Medicals Only)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="mbook">
    <div class="mbook-content">
      <div class="book-headline">
        <div class="bheadline-text">
          <h1>Book your driver's medical today! <br> <span>or Call</span> 020 3963 9083</h1>
          <p><span>Inc. Free Eye Test</span> -Same day appointments available upon request</p>
          <li class="text-btn">
            <button type="button" class="btn">Book Instantly</button>
            <button type="button" class="btn">Download Medical Form</button>
          </li>
        </div>
      </div>
    </div>
  </div>

  <div class="mend">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 p-5">
          <h2>What will happen at the medical?</h2>
          <p class="text-break mt-2">Our doctors will confirm your identity and conduct a full D4 medical during your appointment.</p>
          <p class="text-break">Your medical will include a thorough medical history and an assessment of your physical health. The doctor will take a blood pressure reading which complies with DVLA criteria and conduct a visual acuity test using a DVLA approved Snellen chart.</p>
          <h2>What to do after the medical?</h2>
          <ul>
            <li>Please send your completed application forms (D4 form and D2 form) to the DVLA using the return envelope provided.</li>
          </ul>
        </div>
        <div class="col-md-6 p-5">
          <div class="mend-text">
            <h2>Low Cost HGV/PCV & Bus Medical including free Eye Test</h2>
            <p class="text-break mt-2">HGV AND PCV drivers require medicals throughout their career.</p>
            <h2>New Drivers</h2>
            <p class="text-break mt-2">You need a medical to obtain your provisional license.</p>
            <h2>45 years and older</h2>
            <p class="text-break mt-2">You need a medical every 5 years until the age of 65.</p>
            <h2>65 years and older</h2>
            <p class="text-break mt-2">You need a medical annually from the the age of 65.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container-md mt-5">
      <div class="row">
        <div class="col-md-3">
          <a href="index.html"><img class="img-fluid mb-2" src="img/DriverMEDICAL LOGO 2.png" alt="Drivers Medicals"></a>
          <p class="h4">All driver medicals are completed by GMC registered doctors in accordance with current DVLA Group 2 guidelines.</p>
          <a class="fs-2" href=""><i class="fab fa-linkedin"></i></a>
          <a class="fs-2" href=""><i class="fab fa-instagram"></i></a>
          <a class="fs-2" href=""><i class="fab fa-twitter"></i></a>
        </div>
        <div class="col-md-3">
          <h2>Ouick Links</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Locations</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h2>Ouick Links</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">HGV Medical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PVC/Bus Medical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Taxi Medical</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Business Services</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="end fs-4">
            <h2>Contact Us</h2> 
            <span class="fas fa-map-marker-alt"></span>       
            <p>United Kingdom</p>
            <span class="fas fa-phone-alt"></span>
            <p>0203 963 9083</p>
            <span class="fas fa-envelope"></span>
            <p class="text-break">Bookings@drivermedicals.uk</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-footer">
    <div class="footer-wrapper">
        <div class="wrapper-end">
            <p>Drivermedicals.uk © 2022. All Rights Reserved</p>
        </div>
    </div>
  </footer>

  
  


  <script src="/animated-search-filter.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/script.js"></script>
</body>
</html>