{% load static %} {% block sidebar %}
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu side_color" style="background:#015668;">
      <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="t-menu" class="dash_text">Menu</li>

        <li>
          <a href="{% url 'portal:dashboard' %}" class="waves-effect">
            <i class="bx bx-home-circle"></i>
            <span key="t-dashboards" class="dash_text">Dashboards</span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i>
            <span key="t-dashboards" class="dash_text">Medical Management</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="{% url 'portal:clinic-list'%}" class=" dash_text" key="t-vertical" >Clinic Management</a>
                </li>
                <li><a href="{% url 'portal:doctor-list'%}" class=" dash_text" key="t-vertical">Doctor Management</a>
                    </li>
                    
              </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i>
            <span key="t-dashboards" class="dash_text">Doctor schedules</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="{% url 'portal:doc-sche-tab' %}" key="t-default" class="dash_text">Schedule Table</a></li>
            <li><a href="{% url 'portal:doc-sche-cal' %}" key="t-default" class="dash_text">Schedule Calendar</a></li>
          </ul>
        </li>


        



        <li>
          <a href="{% url 'portal:view-product' %}" class="waves-effect">
            <i class="bx bx-home-circle"></i>
            <span key="t-dashboards" class="dash_text">Products</span>
          </a>
        </li>



        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i>
            <span key="t-dashboards" class="dash_text">Client Management</span>
          </a>
            <ul class="sub-menu" aria-expanded="false">
            <li><a href="{% url 'portal:intrnt-cli-list' %}" key="t-default dash_text" class="dash_text">Individual</a></li>
            <li><a href="{% url 'portal:crprt-cli-list' %}" key="t-default" class="dash_text">Corporate</a></li>
            </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i>
            <span key="t-dashboards" class="dash_text">Orders</span>
          </a>
            <ul class="sub-menu" aria-expanded="false">
              <li><a href="{% url 'portal:icorder-list' %}" key="t-default" class="dash_text">Individual Orders</a></li>
              <li><a href="{% url 'portal:ccorder-list' %}" key="t-default" class="dash_text">Corporate Orders</a></li>
            </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i>
            <span key="t-dashboards" class="dash_text">Appointments</span>
          </a>
            <ul class="sub-menu" aria-expanded="false">
            <li><a href="{% url 'portal:app-tab' %}" key="t-default" class="dash_text">Individual</a></li>
            <li><a  href="{% url 'portal:cor-app-tab' %}" key="t-default"class="dash_text" >Corporate</a></li>
            </ul>
        </li>


    
        
        <li>
          <a href="{%url 'portal:email-home'%}" class="waves-effect">
            <i class="bx bx-home-circle"></i>
           <span key="t-dashboards" class="dash_text">Emails</span>
          </a>
            <!-- <ul class="sub-menu" aria-expanded="false">
              <li><a href="{% url 'portal:icorder-list' %}" key="t-default">Individual Orders</a></li>
              <li><a key="t-default">Corporate Orders</a></li>
            </ul> -->
        </li>

        <li>
          <a href="{%url 'portal:create-coupon'%}" class="waves-effect">
            <i class="bx bx-home-circle"></i>
           <span key="t-dashboards" class="dash_text">Coupon</span>
          </a>
            <!-- <ul class="sub-menu" aria-expanded="false">
              <li><a href="{% url 'portal:icorder-list' %}" key="t-default">Individual Orders</a></li>
              <li><a key="t-default">Corporate Orders</a></li>
            </ul> -->
        </li>
        

      </ul>
        </div>
      </div>
    </div>
    <!-- Left Sidebar End -->
{% endblock %}
