{% load static %} {% block sidebar %}
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
      <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="t-menu">Menu</li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i
            ><span class="badge rounded-pill bg-info float-end">04</span>
            <span key="t-dashboards">Dashboards</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="{% url 'portal:dashboard' %}" key="t-default">Default</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i
            ><span class="badge rounded-pill bg-info float-end">04</span>
            <span key="t-dashboards">Medical Management</span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="javascript: void(0); " class="has-arrow" key="t-vertical">Clinic Management</a>
              <ul class="sub-menu" aria-expanded="true">
                <li>
                  <a href="{% url 'portal:clinic-list'%}" key="t-light-sidebar">View Clinics</a  >
                </li>
                <li>
                  <a href="{% url 'portal:clinic-registration'%}" key="t-compact-sidebar">Register Clinic</a>
                </li>
                </ul>
                </li>
                <li><a href="javascript: void(0); " class="has-arrow" key="t-vertical">Doctor Management</a>
                  <ul class="sub-menu" aria-expanded="true">
                    <li>
                      <a href="{% url 'portal:doctor-list'%}" key="t-light-sidebar">View Doctors</a  >
                    </li>
                    <li>
                      <a href="{% url 'portal:doctor-registration'%}" key="t-compact-sidebar">Register Doctors</a>
                    </li>
                    </ul>
                    </li>
                    
              </ul>
        </li>

        <li class="menu-title" key="t-apps">Schedules</li>
        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i
            ><span class="badge rounded-pill bg-info float-end">04</span>
            <span key="t-dashboards">Doctor schedules</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="{% url 'portal:doc-sche-reg' %}" key="t-default"> Add Schedule</a></li>
            <li><a href="{% url 'portal:doc-sche-tab' %}" key="t-default">Schedule table</a></li>
            <li><a href="{% url 'portal:doc-sche-cal' %}" key="t-default">Schedule Calendar</a></li>
          </ul>
        </li>


        



        <li class="menu-title" key="t-pages">Products</li>
        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="bx bx-home-circle"></i
            ><span class="badge rounded-pill bg-info float-end">04</span>
            <span key="t-dashboards">Products</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="{% url 'portal:add-product' %}" key="t-default">Register Product</a></li>
            <li><a href="{% url 'portal:view-product' %}" key="t-default">View Products</a></li>
          </ul>
        </li>




        <li class="menu-title" key="t-components">Components</li>



          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->
{% endblock %}
